
@charset "utf8";
.allymember {
color : lime;
}
.noob {
color : #a0ffa0;
}
.strong {
color : #ffa0a0;
}
.vacation {
color : #659ec7;
}
.inactive {
color : #cccccc;
}
.longinactive {
color : #999999;
}
.banned {
text-decoration : line-through;
}
*.ownattack {
color : lime;
}
.flight .ownattack a:hover {
color : #e6ebfb;
}
.flight .ownattack a {
color : lime;
}
*.owncolony {
color : lime;
}
.flight .owncolony a {
color : #e6ebfb;
}
*.owndeploy {
color : lime;
}
.flight .owndeploy a {
color : lime;
}
.flight .owndeploy a:hover {
color : #e6ebfb;
}
*.owndestroy {
color : #ffd700;
}
.flight .owndestroy a {
color : #ffd700;
}
.flight .owndestroy a:hover {
color : #e6ebfb;
}
*.ownespionage {
color : orange;
}
.flight .ownespionage a {
color : orange;
}
.flight .ownespionage a:hover {
color : #e6ebfb;
}
*.ownfederation {
color : #33cc00;
}
.flight .ownfederation a {
color : #33cc00;
}
.flight .ownfederation a:hover {
color : #e6ebfb;
}
*.ownharvest {
color : lime;
}
.flight .ownharvest a {
color : lime;
}
.flight .ownharvest a:hover {
color : #e6ebfb;
}
*.ownhold {
color : #80a0c0;
}
.flight .ownhold a {
color : #80a0c0;
}
.flight .ownhold a:hover {
color : #e6ebfb;
}
*.ownmissile {
color : orange;
}
.flight .ownmissile a {
color : orange;
}
.flight .ownmissile a:hover {
color : #e6ebfb;
}
*.owntransport {
color : lime;
}
*.owndeploy {
color : lime;
}
.flight .owndeplay a {
color : lime;
}
.flight .owndeplay a:hover {
color : #e6ebfb;
}
.flight .owntransport a {
color : lime;
}
.flight .owntransport a:hover {
color : #e6ebfb;
}
.return .owntransport a {
color : lime;
}
.return .owntransport a:hover {
color : #e6ebfb;
}
*.attack {
color : red;
}
.flight .attack a:hover {
color : #e6ebfb;
}
.flight .attack a {
color : red;
}
*.colony {
color : lime;
}
.flight .colony a {
color : lime;
}
.flight .colony a:hover {
color : #e6ebfb;
}
*.deploy {
color : lime;
}
.flight .deploy a {
color : lime;
}
.flight .deploy a:hover {
color : #e6ebfb;
}
*.destroy {
color : #ffd700;
}
.flight .destroy a {
color : #ffd700;
}
.flight .destroy a:hover {
color : #e6ebfb;
}
*.espionage {
color : red;
}
.flight .espionage a {
color : red;
}
.flight .espionage a:hover {
color : #e6ebfb;
}
*.federation {
color : #cc0000;
}
.flight .federation a {
color : #cc0000;
}
.flight .federation a:hover {
color : #e6ebfb;
}
*.harvest {
color : lime;
}
.flight .harvest a {
color : lime;
}
.flight .harvest a:hover {
color : #e6ebfb;
}
*.hold {
color : #80a0c0;
}
.flight .hold a {
color : #80a0c0;
}
.flight .hold a:hover {
color : #e6ebfb;
}
*.missile {
color : red;
}
*.transport {
color : lime;
}
.flight .transport a {
color : lime;
}
.flight .transport a:hover {
color : #e6ebfb;
}
.flight .phalanx_fleet, .phalanx_fleet {
color : lime;
}
.return .phalanx_fleet {
color : #3bb9ff;
}
.success {
color : lime;
}
.errormessage a {
text-decoration : underline;
}
.error {
color : red;
}
.warning {
color : orange;
}
.notice {
color : yellow;
}
.combatreport {
color : red;
}
.combatreport_ididattack_iwon {
color : #00b000;
}
.combatreport_ididattack_ilost {
color : #c00000;
}
.combatreport_ididattack_draw {
color : #c0c000;
}
.combatreport_igotattacked_iwon {
color : lime;
}
.combatreport_igotattacked_ilost {
color : red;
}
.combatreport_igotattacked_draw {
color : yellow;
}
.espionagereport {
color : orange;
}
.noresources {
color : red;
}