#home_logo{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='styles/images/server-logos/logo-alpha.png');width: 502px; height: 80px;} 
#home_logo img { display: none; }
#background-container {border: 0px none;}