html, body{
	padding: 0px;
	margin: 0px;
	height: 100%;
	min-width:0;
}

table{
	margin: auto;
}

.yes{
	color:lime;
}
.ok{
	color:yellow;
}
.no{
	color:red;
}

#menu{
	padding: 0 !important;
}

#content{
	margin:0 auto;
	width:80%;
	padding:0;
}

span > a{
	color: inherit;
}

a.out {
	font-size: 13px;
	font-stretch:expanded;
	border: 1px #FF0000 solid;
	color: #FF0000;
	cursor: pointer;
	text-align:center;
}
a.out:hover {
	font-size: 13px;
	text-decoration: none;
	border: 1px #FF0000 solid;
	cursor: pointer;
	color: #FFFFFF;
	background-color: #CC0000;
	text-align:center;
}

a.topn {
	font-size: 13px;
	font-stretch:expanded;
	border: 1px #FFFFFF solid;
	color: #FFFFFF;
	cursor: pointer;
	text-align:center;
}
a.topn:hover {
	font-size: 13px;
	text-decoration: none;
	border: 1px #FFFFFF solid;
	cursor: pointer;
	color: #000000;
	background-color: #66CCFF;
	text-align:center;
}
#progressbar{border: 1px solid}
.ui-progressbar-value { background-image: url(../images/jquery/pbar-ani.gif)};
.button{background:url(../images/Adm/blank.gif);border:1px lime solid;color:#FFFFFF;}
.button:hover{background:url(../images/Adm/blank.gif);border:1px aqua solid;cursor:pointer;color:#FFFFFF;}
.span{ vertical-align:baseline}
.gf-snippet, .gfc-resultsHeader{display:none}

select[name="timezone"] {
	max-width:300px;
}