.u_button{text-decoration:underline}
.s_button{text-decoration:line-through}
.i_button{font-style:italic}
.btn{background:transparent url(../images/buttons.gif) no-repeat scroll 0 0;width:20px;height:20px;margin-right:5px;display:inline-block}
.bold{background-position:0 0}
.bold:hover{background-position:0 -25px}
.italic{background-position:-25px 0}
.italic:hover{background-position:-25px -25px}
.underline{background-position:-50px 0}
.underline:hover{background-position:-50px -25px}
.link{background-position:-75px 0}
.link:hover{background-position:-75px -25px}
.quote{background-position:-100px 0}
.quote:hover{background-position:-100px -25px}
.code{background-position:-125px 0}
.code:hover{background-position:-125px -25px}
.image{background-position:-150px 0}
.image:hover{background-position:-150px -25px}
.nlist{background-position:-175px 0}
.nlist:hover{background-position:-175px -25px}
.blist{background-position:-200px 0}
.blist:hover{background-position:-200px -25px}
.litem{background-position:-225px 0}
.litem:hover{background-position:-225px -25px}
.back{background-position:-250px 0}
.back:hover{background-position:-250px -25px}
.back_disable{background-position:-250px -50px}
.forward{background-position:-275px 0}
.forward:hover{background-position:-275px -25px}
.forward_disable{background-position:-275px -50px}
.usize{background-position:-300px 0}
.usize:hover{background-position:-300px -25px}
.dsize{background-position:-325px 0}
.dsize:hover{background-position:-325px -25px}
.ui-progressbar-value{background-image:url(img/processbar.png)}
#progressbar{height:10px}
.ferror{border:2px solid red;margin-left:200.5px;margin-bottom:1px;color:#FFF;padding:2px}
.ui-resizable{position:relative}
.ui-resizable-handle{position:absolute;font-size:.1px;z-index:99999;display:block}
.ui-resizable-n{cursor:n-resize;height:7px;width:100%;top:-5px;left:0}
.ui-resizable-s{cursor:s-resize;height:7px;width:100%;bottom:-5px;left:0}
.ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0;height:100%}
.ui-resizable-w{cursor:w-resize;width:7px;left:-5px;top:0;height:100%}
.ui-resizable-se{cursor:se-resize;width:12px;height:12px;right:1px;bottom:1px}
.ui-resizable-sw{cursor:sw-resize;width:9px;height:9px;left:-5px;bottom:-5px}
.ui-resizable-nw{cursor:nw-resize;width:9px;height:9px;left:-5px;top:-5px}
.ui-resizable-ne{cursor:ne-resize;width:9px;height:9px;right:-5px;top:-5px}
.mb-resize{display:block;background-color:transparent!important;border:5px solid transparent!important;margin:0!important}
.mb-resize-resizable-n{cursor:e-resize;width:100%!important;height:50px!important;right:0!important;top:-10px!important;z-index:auto!important}
.mb-resize-resizable-e{cursor:e-resize;width:20px!important;height:100%!important;right:-20px!important;top:0!important;z-index:auto!important}
.mb-resize-resizable-w{cursor:e-resize;width:20px!important;height:100%!important;left:-20px!important;top:0!important;z-index:auto!important}
.mb-resize-resizable-s{cursor:s-resize;width:100%!important;height:10px!important;bottom:-10px!important;left:0!important;z-index:auto!important}
.mb-resize-resizable-se{cursor:se-resize;width:30px!important;height:30px!important;right:0!important;bottom:-10px!important;z-index:auto!important}
.mbproxy{border:1px dotted gray;background:url(mbContainer/proxy.png)}
.containerPlus{font-family:Verdana;font-size:13px;visibility:hidden}
;.containerPlus .spacer{margin-top:10px}
.containerPlus .buttonBar{position:relative;top:0;float:right;margin-top:-23px;margin-right:15px}
.containerPlus .buttonBar img{margin-left:5px}
.containerPlus .mbcontainercontent{margin-right:-15px;padding-right:10px;overflow:auto}
.iconLabel{font-family:sans-serif;font-size:10px;background:#f3f3f3;color:gray;display:block;-moz-border-radius:5px;-webkit-border-radius:5px;border:1px solid #ccc;padding:5px}
.containerPlus .no{background:url(mbContainer/default/no.png) top left no-repeat}
.containerPlus .ne{background:url(mbContainer/default/ne.png) top right no-repeat;margin-left:21px}
.containerPlus .ne img{left:-10px;top:-10px}
.containerPlus .n{background:url(mbContainer/default/n.png) top center repeat-x;margin-right:20px;-moz-user-select:none;-khtml-user-select:none;padding-top:8px;height:26px;font-size:15px;white-space:nowrap;overflow:hidden}
.containerPlus .n a{text-decoration:none;color:#000;font-size:15px}
.containerPlus .o{background:url(mbContainer/default/o.png) top left repeat-y}
.containerPlus .e{background:url(mbContainer/default/e.png) top right repeat-y;margin-left:21px}
.containerPlus .c{background:url(mbContainer/default/c.png);margin-right:23px;padding-top:1px;padding-bottom:1px}
.containerPlus .so{background:url(mbContainer/default/so.png) bottom left no-repeat}
.containerPlus .se{background:url(mbContainer/default/se.png) bottom right no-repeat;margin-left:21px}
.containerPlus .s{background:url(mbContainer/default/s.png) bottom repeat-x;padding-top:20px;margin-right:23px}
.containerPlus.black .no{background:url(mbContainer/black/no.png) top left no-repeat}
.containerPlus.black .ne{background:url(mbContainer/black/ne.png) top right no-repeat;margin-left:21px}
.containerPlus.black .n{background:url(mbContainer/black/n.png) top center repeat-x;margin-right:25px;height:26px;padding-top:8px;font-size:15px;color:#FFF;-moz-user-select:none;-khtml-user-select:none}
.containerPlus.black .n a{text-decoration:none;color:#fff;font-size:15px;white-space:nowrap;overflow:hidden}
.containerPlus.black .o{background:url(mbContainer/black/o.png) top left repeat-y}
.containerPlus.black .e{background:url(mbContainer/black/e.png) top right repeat-y;margin-left:21px}
.containerPlus.black .c{background:url(mbContainer/black/c.png);margin-right:25px;padding-top:1px;padding-bottom:1px}
.containerPlus.black .so{background:url(mbContainer/black/so.png) bottom left no-repeat}
.containerPlus.black .se{background:url(mbContainer/black/se.png) bottom right no-repeat;margin-left:21px}
.containerPlus.black .s{background:url(mbContainer/black/s.png) bottom repeat-x;padding-top:20px;margin-right:25px}
.ui-helper-hidden-accessible{position:absolute;left:-99999999px}
.ui-helper-reset{border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none;margin:0;padding:0}
.ui-helper-clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.ui-helper-clearfix{display:block}
* html .ui-helper-clearfix{height:1%}
.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}
.ui-state-disabled{cursor:default!important}
.ui-widget-overlay{position:absolute;top:0;left:0;width:100%;height:100%;background:#aaa url(../images/jquery/ui-bg_highlight-hard_40_aaaaaa_1x100.png) 50% top repeat-x;opacity:.30;filter:Alpha(Opacity=30)}
.ui-state-default,.ui-widget-content .ui-state-default{border:1px solid #777;background:#111 url(../images/jquery/ui-bg_glass_40_111111_1x400.png) 50% 50% repeat-x;font-weight:400;color:#e3e3e3}
.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited{color:#e3e3e3;text-decoration:none}
.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus{border:1px solid #000;background:#1c1c1c url(../images/jquery/ui-bg_glass_55_1c1c1c_1x400.png) 50% 50% repeat-x;font-weight:400;color:#fff}
.ui-state-hover a,.ui-state-hover a:hover{color:#fff;text-decoration:none}
.ui-state-active,.ui-widget-content .ui-state-active{border:1px solid #ccc;background:#fff url(../images/jquery/ui-bg_flat_65_ffffff_40x100.png) 50% 50% repeat-x;font-weight:400;color:#222}
.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{color:#222;text-decoration:none}
.ui-widget:active{outline:none}
.ui-state-highlight,.ui-widget-content .ui-state-highlight{border:1px solid #ffde2e;background:#ffeb80 url(../images/jquery/ui-bg_inset-hard_55_ffeb80_1x100.png) 50% bottom repeat-x;color:#363636}
.ui-state-highlight a,.ui-widget-content .ui-state-highlight a{color:#363636}
.ui-state-error,.ui-widget-content .ui-state-error{border:1px solid #9e0505;background:#cd0a0a url(../images/jquery/ui-bg_inset-hard_45_cd0a0a_1x100.png) 50% bottom repeat-x;color:#fff}
.ui-priority-secondary,.ui-widget-content .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:400}
.ui-state-disabled,.ui-widget-content .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none}
.ui-corner-tl{-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px;border-top-left-radius:4px}
.ui-corner-tr{-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px;border-top-right-radius:4px}
.ui-corner-bl{-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px}
.ui-corner-br{-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px}
.ui-corner-top{-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px;border-top-left-radius:4px;-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px;border-top-right-radius:4px}
.ui-corner-bottom{-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px}
.ui-corner-right{-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px;border-top-right-radius:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px}
.ui-corner-left{-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px;border-top-left-radius:4px;-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px}
.ui-corner-all{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}
.ui-widget-shadow{background:#aaa url(../images/jquery/ui-bg_highlight-soft_50_aaaaaa_1x100.png) 50% top repeat-x;opacity:.20;filter:Alpha(Opacity=20);-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;margin:-8px 0 0 -8px;padding:8px}
.ui-tabs{position:relative;zoom:1;padding:.2em}
.ui-tabs .ui-tabs-nav{margin:0;padding:.2em .2em 0}
.ui-tabs .ui-tabs-nav li{list-style:none;float:left;position:relative;top:1px;border-bottom:0!important;white-space:nowrap;margin:0 .2em 1px 0;padding:0}
.ui-tabs .ui-tabs-nav li a{float:left;text-decoration:none;padding:.5em 1em}
li.ui-tabs-selected{margin-bottom:0;padding-bottom:1px}
li.ui-tabs-selected a,li.ui-state-disabled a,li.ui-state-processing a{cursor:text}
.ui-tabs .ui-tabs-nav li a,li.ui-tabs-selected a{cursor:pointer}
.ui-tabs .ui-tabs-panel{display:block;border:0;background:none;padding:1em 1.4em}
.ui-tabs .ui-tabs-hide{display:none!important}
.ui-progressbar{height:2em;text-align:left}
.ui-progressbar .ui-progressbar-value{height:100%;margin:-1px}
#TB_window{font:12px Arial, Helvetica, sans-serif;background-color:transparent;position:fixed;z-index:104;color:#000;display:none;text-align:left;top:50%;left:50%}
#TB_secondLine{font:10px Arial, Helvetica, sans-serif;color:#666}
#TB_window a:link,#TB_window a:visited,#TB_window a:active,#TB_window a:focus{color:#666}
#TB_overlay{position:fixed;z-index:100;top:0;left:0;height:100%;width:100%}
.TB_overlayMacFFBGHack{background:url(../images/fadebox/macFFBgHack.png) repeat}
.TB_overlayBG{background-color:#000;filter:alpha(opacity=75);-moz-opacity:0.75;opacity:0.75}
#TB_window img#TB_Image{display:block;border-right:1px solid #ccc;border-bottom:1px solid #ccc;border-top:1px solid #666;border-left:1px solid #666;margin:15px 0 0 15px}
#TB_caption{height:25px;float:left;padding:7px 30px 10px 25px}
#TB_closeWindow{height:25px;float:right;padding:11px 25px 10px 0}
#TB_closeAjaxWindow{margin-bottom:1px;text-align:right;float:right;padding:7px 10px 5px 0}
#TB_ajaxWindowTitle{float:left;margin-bottom:1px;padding:7px 0 5px 10px}
#TB_title{background-color:#262D33;height:27px}
#TB_ajaxContent{clear:both;overflow:auto;text-align:left;line-height:1.4em;margin:0 auto;padding:2px 0 15px}
#TB_ajaxContent.TB_modal{padding:15px}
#TB_ajaxContent p{padding:5px 0}
#TB_load{position:fixed;display:none;height:13px;width:208px;z-index:103;top:50%;left:50%;margin:-6px 0 0 -104px}
#TB_HideSelect{z-index:99;position:fixed;top:0;left:0;background-color:#fff;border:none;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;height:100%;width:100%}
#TB_iframeContent{background-color:transparent!important;clear:both;border:0 none;margin-bottom:-1px;margin-top:1px;_margin-bottom:1px}
.fadeBox{background:transparent url(../images/fadebox/fadeBox.gif) no-repeat;height:85px;left:50%;overflow:hidden;position:fixed;top:35%;width:250px;z-index:19;margin:-42px 0 0 -125px}
.fadeBox p{color:#6F9FC8;display:inline;float:left;font:100 10px Verdana, Arial, SunSans-Regular, Sans-Serif;line-height:normal;width:164px;overflow:hidden;margin:10px 0 0 10px}
.fadeBox div{display:table-cell;height:85px;position:relative;vertical-align:middle;padding:0}
.fadeBox span{border:0;float:left;display:inline;height:43px;width:46px;margin:3px 0 0 15px}
.fadeBox .success{background:transparent url(../images/fadebox/fadeCheckmark.png) no-repeat}
.fadeBox .failed{background:transparent url(../images/fadebox/fadeFailed.png) no-repeat}
.b_button,.ui-priority-primary,.ui-widget-content .ui-priority-primary{font-weight:700}
.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle,.ui-helper-hidden{display:none}
.containerPlus.black .c .mbcontainercontent,.containerPlus.black .c .mbcontainercontent a{color:#FFF}
.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-state-error-text,.ui-widget-content .ui-state-error-text,#TB_window a:hover{color:#fff}