td.s {
color:#E6EBFB
}

th {
background:url(img/bkd_bg.png) repeat-x;
padding-left:3px;
padding-right:3px;
text-align:center
}

td.a {
height:39px;
text-align:center
}

td.b {
padding:3px
}

.content {
height:504px;
left:190px;
overflow:visible;
position:absolute;
top:91px;
width:80%!important
}

html,body {
overflow:auto
}

html {
height:100%;
margin:0;
padding:0;
width:100%
}

body {
background:url(img/bkd_page.gif) top left fixed #000;
margin-left:0;
margin-top:7px
}

body,input,select,textarea,a,td,th,tr,table {
color:#CCC;
font-family:Verdana, Tahoma, Helvetica, sans-serif;
font-size:10px
}

td.f,input,select,option,textarea {
background:#393939
}

select {
border:1px solid #212121
}

.strong {
color:#ffa0a0
}

.vacation {
color:#659ec7
}

.inactive {
color:#ccc
}

.longinactive {
color:#999
}

.ownattack {
color:#6c3
}

.owncolony {
color:#c1c1c1
}

.owndeploy {
color:#666
}

.owndestroy {
color:#ff9
}

.ownfederation {
color:#c66
}

.ownharvest {
color:#ceff68
}

.ownhold {
color:#80a0c0
}

.destroy {
color:#d4a017
}

.hold {
color:#39c
}

.warning {
color:#FF8040
}

.notice {
color:#FF0
}

.return {
color:#444
}

table,table tr th,td,th,p {
empty-cells:show;
font-weight:400;
}

table {
background-color: transparent
}

th,td.a,td.b,td.c,td.f,td.g,td.h,td.i,td.j,td.l,td.m,td.n,td.o,td.q,td.r,td.v,textarea{
background:url(img/bkd_bg.png) repeat-x;
border:1px solid #212121
}

th.s {
border:0 solid #212121
}

input {
border:1px solid #212121;
margin:2px;
text-align:center
}

td.c input {
margin:0
}

#menu {
background:url(img/bkd_navigation.png) no-repeat 0;
height:769px;
left:0;
position:absolute!important;
text-align:center;
top:0;
width:192px;
z-index:500
}

#menu .p {
left:35px;
margin:0;
padding:0;
position:absolute;
top:29px;
white-space:nowrap
}

#menu table {
margin-top:50px
}

#menu div {
background:url(img/td_test.jpg) no-repeat;
padding-left:0;
padding-top:6px;
text-align:left
}

#menu img {
height:8px;
width:190px
}

#menu td {
padding:1px!important
}

#menu div a {
padding-left:20px
}

#menu div a:hover {
background:url(img/link_hover.jpg) no-repeat 0;
text-align:left;
text-decoration:none
}

td.c {
background:url(img/bkd_title.png);
color:#666;
font-weight:400;
height:22px;
line-height:18px;
padding-left:3px;
text-align:left
}

textarea {
width:97%
}

td.l {
background:#000;
color:#777;
line-height:14px;
padding:2px;
vertical-align:top
}

div.z {
font-weight:400
}

a {
font-weight:400;
text-decoration:none
}

a:hover {
color:#ceff68;
text-decoration:underline
}

body table tr td table tr td.l {
background:#000;
line-height:15px
}

h1 {
font-family:Verdana, Tahoma, Helvetica, sans-serif;
font-size:1px;
text-align:right;
visibility:hidden
}

a[title~=geschwindigkeit]:after {
color:#ceff68;
content:" (" attr(title) ")"
}

a:focus {
border:none;
outline:none
}

tr span a {
color:#FFF
}

#header_top {
height:auto;
margin-left:95px;
overflow:hidden!important;
text-align:center;
top:0
}

tr.header,table.header {
width:80%
}

.header {
overflow:hidden;
vertical-align:middle
}

#footer {
background:#000;
border:1px solid #FFF;
bottom:0;
margin-left:12.5%;
margin-right:12.5%;
position:fixed;
text-align:center;
width:75%
}

#menu2 {
height:auto;
overflow:auto;
position:absolute;
right:10px;
top:13px;
width:174px;
z-index:0
}

#menu2 a:hover {
text-decoration:none
}

#overDiv > table {
background-color:#212121;
border:1px solid #666666;
color:#666666;
margin:0;
padding:0;
}

.faq {
color:#000
}


table table,img,p table,table table {
border:0
}

.allymember,.colony,.deploy,.harvest,.transport,.success {
color:lime
}

.noob,.owntransport {
color:#a0ffa0
}

.banned,.s_button {
text-decoration:line-through
}

.ownespionage,.ownmissile {
color:#fc6
}

.attack,.federation,.error {
color:red
}

.espionage,.missile {
color:#f60
}

.u_button{
text-decoration:underline;
}
.s_button{
text-decoration:line-through;
}
.b_button{
font-weight:bold;
}
.i_button{
font-style:italic;
}
.btn {
	background: transparent url('img/buttons.gif') no-repeat scroll 0 0;
	width:20px;
	height:20px;
	margin-right:5px;
	display:inline-block;
}

.bold {
	background-position:0 0;
}

.bold:hover {
	background-position:0 -25px;
}

.italic {
	background-position:-25px 0;
}

.italic:hover {
	background-position:-25px -25px;
}

.underline {
	background-position:-50px 0;
}

.underline:hover {
	background-position:-50px -25px;
}

.link {
	background-position:-75px 0;
}

.link:hover {
	background-position:-75px -25px;
}

.quote {
	background-position:-100px 0;
}

.quote:hover {
	background-position:-100px -25px;
}

.code {
	background-position:-125px 0;
}

.code:hover {
	background-position:-125px -25px;
}

.image {
	background-position:-150px 0;
}

.image:hover {
	background-position:-150px -25px;
}

.nlist {
	background-position:-175px 0;
}

.nlist:hover {
	background-position:-175px -25px;
}

.blist {
	background-position:-200px 0;
}

.blist:hover {
	background-position:-200px -25px;
}

.litem {
	background-position:-225px 0;
}

.litem:hover {
	background-position:-225px -25px;
}

.back {
	background-position:-250px 0;
}

.back:hover {
	background-position:-250px -25px;
}

.back_disable {
	background-position:-250px -50px;
}

.forward {
	background-position:-275px 0;
}

.forward:hover {
	background-position:-275px -25px;
}

.forward_disable {
	background-position:-275px -50px;
}

.usize {
	background-position:-300px 0;
}

.usize:hover {
	background-position:-300px -25px;
}

.dsize {
	background-position:-325px 0;
}

.dsize:hover {
	background-position:-325px -25px;
}

.ui-progressbar-value { background-image: url(img/processbar.png); }

#progressbar { height: 10px;}