<Files "config.php">
Order Allow,Deny
Deny from All
</Files>

<Files "common.php">
Order Allow,Deny
Deny from All
</Files>

<Files "extension.inc.php">
Order Allow,Deny
Deny from All
</Files>

AddDefaultCharset utf-8
<IfModule mod_headers.c>
<FilesMatch "\.(ico|pdf|js|css|gif|png|jpg|jpeg|txt|html|htm)$">
	FileETag none
	Header set Cache-Control "public, max-age=604800, s-maxage=604800"
</FilesMatch>
</IfModule>


RewriteEngine on

RewriteRule ^styles/templates/ / [R]
RewriteRule ^adm/logs/ / [R]
RewriteRule ^language/ / [R]
RewriteRule ^includes/ / [R]
RewriteRule ^cache/ / [R]