<Files "config.php">
Order Allow,Deny
Deny from All
</Files>

<Files "common.php">
Order Allow,Deny
Deny from All
</Files>

<Files "extension.inc.php">
Order Allow,Deny
Deny from All
</Files>

AddDefaultCharset utf-8
FileETag MTime Size

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteRule ^styles/templates/ / [R]
RewriteRule ^adm/logs/ / [R]
RewriteRule ^language/ / [R]
RewriteRule ^includes/ / [R]
RewriteRule ^cache/ / [R]
RewriteRule ^raports/ / [R]
</IfModule>

<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault "access plus 1 seconds"
ExpiresByType image/x-icon "access plus 2592000 seconds"
ExpiresByType image/jpeg "access plus 2592000 seconds"
ExpiresByType image/png "access plus 2592000 seconds"
ExpiresByType image/gif "access plus 2592000 seconds"
ExpiresByType application/x-shockwave-flash "access plus 2592000 seconds"
ExpiresByType text/css "access plus 7200 seconds"
ExpiresByType text/javascript "access plus 7200 seconds"
ExpiresByType application/x-javascript "access plus 7200 seconds"
</IfModule>

<IfModule mod_headers.c>
<filesmatch "\.(ico|jpe?g|png|gif|swf)$">
Header set Cache-Control "max-age=7200, public"
</filesmatch>
<filesmatch "\.(css)$">
Header set Cache-Control "max-age=7200, public"
</filesmatch>
<filesmatch "\.(js)$">
Header set Cache-Control "max-age=7200, private"
</filesmatch>
Header unset Last-Modified
</IfModule>