body 
{	
	padding: 0;
	margin: 0;
	height: 100%;
}

a.out {
	font-size: 13px;
	font-stretch:expanded;
	border: 1px #FF0000 solid;
	color: #FF0000;
	cursor: pointer;
	text-align:center;
}
a.out:hover {
	font-size: 13px;
	text-decoration: none;
	border: 1px #FF0000 solid;
	cursor: pointer;
	color: #FFFFFF;
	background-color: #CC0000;
	text-align:center;
}

a.topn {
	font-size: 13px;
	font-stretch:expanded;
	border: 1px #FFFFFF solid;
	color: #FFFFFF;
	cursor: pointer;
	text-align:center;
}
a.topn:hover {
	font-size: 13px;
	text-decoration: none;
	border: 1px #FFFFFF solid;
	cursor: pointer;
	color: #000000;
	background-color: #66CCFF;
	text-align:center;
}

/* body 
{	
	color                		: #E6EBFB;
  	background-image     		: url(../images/bg1.jpg);
	background-color			: #050E1F;
  	background-repeat    		: no-repeat;
	background-position			: center;
	background-attachment		: fixed;
  	font-size            		: 10px;
	_font-size           		: 11px;
  	font-family          		: Tahoma,sans-serif;
	font-style					: normal;
	line-height					: normal;
	font-weight					: normal;
	font-variant				: normal;
	text-transform				: none;
	text-decoration				: none;
}

table 
{
	border: 0px #000000 solid;
	font-size: 10px;
	background-color: #1b232c; 
}

textarea
{
	font:Verdana, Arial, Helvetica, sans-serif;
  	color               : #FFFFFF;
  	background-color    : #091D39;
  	width               : 85%;
	border:1px #FFFFFF solid;
}


th
{
  font-size: 10px;
  font-family: Tahoma,sans-serif;
  border:1px #415680 solid;
}

th.b
{
  text-align: left;
}

th.s
{
  border: 1px #415680 solid;
  font-size: 10px;
  font-family: Tahoma,sans-serif;
}

td
{
	border: 1px solid #415680;
	text-align:center;
	color: #0099FF;
	font-size:13px;
	font-weight:bolder;
}

td.k
{
	border-bottom: hidden;
	text-align:center;
	color: #0099FF;
	font-size:15px;
	font-weight:bolder;
	background-color: #0A1B2A;
}

input[type='submit'], select
{
	cursor:pointer;
}

td.c
{
  font-weight          : bold;
  color                : #E6EBFB;
  padding-left         : 3px;
  background-image     : url(../images/Adm/c.gif);
}


tr
{
	height:18px;
}


a 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	cursor: pointer;
	color: #66CCFF;
	text-decoration: none;
}


a.ForIEHoverr
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
	cursor: pointer;
}

a.ForIEHoverLime
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	cursor: pointer;
	color: #00FF00;
	text-decoration: none;
}


img
{
	border:0px;
}






/* Informacion detallada de usuarios 
td.p
{
	border-bottom:solid #000000;
	text-align:center;
	color: #0099FF;
	font-size:14px;
	filter: alpha(opacity=0);
  	_moz-opacity: 0.0;
  	_khtml-opacity: 0.0;
  	opacity: 0.0;
}

select, textarea, input, button{
	border: 1px solid #415680;
	color: #E6EBFB;
	font-size:11px;
	font-family:Tahoma,sans-serif;
	background : #0A123B;
}

.yes{
	color:green;
}
.no{
	color:red;
} */