html, body {
	min-height:100%;
	min-width:100%;
    margin: 0;
    padding: 0;
}

body {
	line-height:14px;
	padding-bottom:21px;
}

body,input,button,select,textarea,a,td,th,tr,table,button {
	font-family:Verdana;
	font-size:10px;
}

a:focus {
	outline:none
}

button:hover {
	cursor:pointer;
}

table,td,th {
	empty-cells:show
}

table table,img {
	border:0
}

table {
	margin:0 auto
}
td {
	padding-left:3px;
	padding-right:3px;
}

input,button {
	margin:2px;
}

th input {
	margin:0
}

th {
	height: 14px;
	padding:4px 6px;
}

textarea {
	width:97%
}

.res_max,.res_current,.res_current_max {
	min-width:90px
}

.res_name {
	float:none;
}

.table519{
	min-width:519px !important;
	width:519px !important
}

.table569{
	min-width:569px !important;
	width:569px !important
}

.build_submit {
    max-width: 100px;
	padding:0;
    word-wrap: break-word;
}

.build_form {
	display:inline;
}

.onlist {
    max-width: 100%;
}

.onlist:hover {
	text-decoration:underline;
}

.clear {
	clear:both;
}
/** HEADER **/
#header {
	padding:5px 10px;
	margin-left:210px;
	margin-right:10px;
	height:90px;
}

#planetselect {
	float:left;
	width:215px;
}

#planetselect select{
	float:left;
	height:16px;
	margin:37px 10px;
	width:145px;
}

#planetselect img{
	float:left;
	width:50px;
	height:50px;
	margin:20px 0;
}

#resources{
	margin-left:215px;
	margin-right:215px;
    padding: 5px 0;
	width:700px;
}

#resources > div{
	margin:0 5px;
	padding:0;
	float:left;
	height:auto;
	max-width:130px;
	width:100%;
}

#resources p{
	margin:0;
}

#resources img {
    display: block;
    height: 22px;
    margin: 0 auto;
    width: 42px;
}
/** MENU **/

#leftmenu {
	width:200px;
	float:left;
}

#menu {
	list-style:none;
	margin:0;
	padding:0;
}

#menu li {
	margin:0;
	padding:0;
}

#menu a {
	display:block;
	margin:0;
	padding:4px 20px;
}

.menu-head {
	height:78px;
}

.menucat1-head, .menucat2-head, .menucat3-head, .menu-footer{
	height:30px;
}

/* PLANETMENU */

#planet_menu {
	width:100%;
	position:fixed;
	bottom:0px;
	z-index:3;
}

#planet_menu_link {
	padding-top:1px;
}

#planet_menu_header{
	height:14px;
	padding-top:2px;
	padding-bottom:4px;
	padding-right:10px;
}

#planet_menu_content{
	height:90px;
	overflow:auto;
}

#planet_menu_content img {
	height:35px;
	width:35px;
}

#planet_menu_content ul{
	float:left;
	margin:0;
	padding:0;
	list-style:none;
}
#planet_menu_content li {
	height:80px;
	width:80px;
	float:left;
	padding:5px;
}


/* CONTENT */

#content {
	margin-left:210px;
	margin-right:10px;
	padding:10px 10px 5px 10px;
}

#content > table, form > table {
	max-width:95%;
	min-width:50%;
	width:80%
}

.left{
	text-align:left
}

.right{
	text-align:right
}

.center{
	text-align:center
}

.top{
	vertical-align:top
}


.tooltip, .tooltip_sticky {
	cursor: pointer;
}

div#trader {
	margin:14px auto;
	height:55px;
	width:330px;
}

div#trader + div {
	clear:both;
}

.trader_col {
	margin:0 5px;
	float:left;
	width:100px;
}

.tip {
	display:none;
	padding:7px;
	position:absolute;
	z-index:1000;
	max-width: 500px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.ui-widget, .ui-widget td{
	font-family:Verdana;
	font-size:10px
}

.ui-progressbar {
	height: 10px;
}

.b_button{font-weight:700}
.u_button{text-decoration:underline}
.s_button{text-decoration:line-through}
.i_button{font-style:italic}
.btn{background:transparent url(../images/buttons.gif) no-repeat scroll 0 0;width:20px;height:20px;margin-right:5px;display:inline-block}
.bold{background-position:0 0}
.bold:hover{background-position:0 -25px}
.italic{background-position:-25px 0}
.italic:hover{background-position:-25px -25px}
.underline{background-position:-50px 0}
.underline:hover{background-position:-50px -25px}
.link{background-position:-75px 0}
.link:hover{background-position:-75px -25px}
.quote{background-position:-100px 0}
.quote:hover{background-position:-100px -25px}
.code{background-position:-125px 0}
.code:hover{background-position:-125px -25px}
.image{background-position:-150px 0}
.image:hover{background-position:-150px -25px}
.nlist{background-position:-175px 0}
.nlist:hover{background-position:-175px -25px}
.blist{background-position:-200px 0}
.blist:hover{background-position:-200px -25px}
.litem{background-position:-225px 0}
.litem:hover{background-position:-225px -25px}
.back{background-position:-250px 0}
.back:hover{background-position:-250px -25px}
.back_disable{background-position:-250px -50px}
.forward{background-position:-275px 0}
.forward:hover{background-position:-275px -25px}
.forward_disable{background-position:-275px -50px}
.usize{background-position:-300px 0}
.usize:hover{background-position:-300px -25px}
.dsize{background-position:-325px 0}
.dsize:hover{background-position:-325px -25px}