.b_button{font-weight:700}
.u_button{text-decoration:underline}
.s_button{text-decoration:line-through}
.i_button{font-style:italic}
.btn{background:transparent url(../images/buttons.gif) no-repeat scroll 0 0;width:20px;height:20px;margin-right:5px;display:inline-block}
.bold{background-position:0 0}
.bold:hover{background-position:0 -25px}
.italic{background-position:-25px 0}
.italic:hover{background-position:-25px -25px}
.underline{background-position:-50px 0}
.underline:hover{background-position:-50px -25px}
.link{background-position:-75px 0}
.link:hover{background-position:-75px -25px}
.quote{background-position:-100px 0}
.quote:hover{background-position:-100px -25px}
.code{background-position:-125px 0}
.code:hover{background-position:-125px -25px}
.image{background-position:-150px 0}
.image:hover{background-position:-150px -25px}
.nlist{background-position:-175px 0}
.nlist:hover{background-position:-175px -25px}
.blist{background-position:-200px 0}
.blist:hover{background-position:-200px -25px}
.litem{background-position:-225px 0}
.litem:hover{background-position:-225px -25px}
.back{background-position:-250px 0}
.back:hover{background-position:-250px -25px}
.back_disable{background-position:-250px -50px}
.forward{background-position:-275px 0}
.forward:hover{background-position:-275px -25px}
.forward_disable{background-position:-275px -50px}
.usize{background-position:-300px 0}
.usize:hover{background-position:-300px -25px}
.dsize{background-position:-325px 0}
.dsize:hover{background-position:-325px -25px}
#TB_window{font:12px Arial, Helvetica, sans-serif;background-color:transparent;position:fixed;z-index:104;color:#000;display:none;text-align:left;top:50%;left:50%}
#TB_secondLine{font:10px Arial, Helvetica, sans-serif;color:#666}
#TB_window a:link,#TB_window a:visited,#TB_window a:active,#TB_window a:focus{color:#666}
#TB_overlay{position:fixed;z-index:100;top:0;left:0;height:100%;width:100%}
.TB_overlayMacFFBGHack{background:url(../images/fadebox/macFFBgHack.png) repeat}
.TB_overlayBG{background-color:#000;filter:alpha(opacity=75);-moz-opacity:0.75;opacity:0.75}
#TB_window img#TB_Image{display:block;border-right:1px solid #ccc;border-bottom:1px solid #ccc;border-top:1px solid #666;border-left:1px solid #666;margin:15px 0 0 15px}
#TB_caption{height:25px;float:left;padding:7px 30px 10px 25px}
#TB_closeWindow{height:25px;float:right;padding:11px 25px 10px 0}
#TB_closeAjaxWindow{margin-bottom:1px;text-align:right;float:right;padding:7px 10px 5px 0}
#TB_ajaxWindowTitle{float:left;margin-bottom:1px;padding:7px 0 5px 10px}
#TB_title{background-color:#262D33;height:27px}
#TB_ajaxContent{clear:both;overflow:auto;text-align:left;line-height:1.4em;margin:0 auto;padding:2px 0 15px}
#TB_ajaxContent.TB_modal{padding:15px}
#TB_ajaxContent p{padding:5px 0}
#TB_load{position:fixed;display:none;height:13px;width:208px;z-index:103;top:50%;left:50%;margin:-6px 0 0 -104px}
#TB_HideSelect{z-index:99;position:fixed;top:0;left:0;background-color:#fff;border:none;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;height:100%;width:100%}
#TB_iframeContent{background-color:transparent!important;clear:both;border:0 none;margin-bottom:-1px;margin-top:1px;_margin-bottom:1px}
.fadeBox{background:transparent url(../images/fadebox/fadeBox.gif) no-repeat;height:85px;left:50%;overflow:hidden;position:fixed;top:35%;width:250px;z-index:19;margin:-42px 0 0 -125px}
.fadeBox p{color:#6F9FC8;display:inline;float:left;font:100 10px Verdana, Arial, SunSans-Regular, Sans-Serif;line-height:normal;width:164px;overflow:hidden;margin:10px 0 0 10px}
.fadeBox div{display:table-cell;height:85px;position:relative;vertical-align:middle;padding:0}
.fadeBox span{border:0;float:left;display:inline;height:43px;width:46px;margin:3px 0 0 15px}
.fadeBox .success{background:transparent url(../images/fadebox/fadeCheckmark.png) no-repeat}
.fadeBox .failed{background:transparent url(../images/fadebox/fadeFailed.png) no-repeat}