body {
    background: url(../images/login/login_bg.jpg) repeat scroll 0 0 #000000;
    color: #FFFFFF;
    font-family: verdana;
    font-size: 12px;
    text-align: center;
    margin: 0;
    padding: 0;
}

input, textarea, select, option {
	background-color:#171F2F;
	color:#BBB;
	padding-left:3px;
}

input, textarea, select {
	border:1px solid #444;
}

table, tr, td, th {
    border: medium none;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    margin: 0;
    padding: 0;
}

img{
	border: 0 none;
}

h1 {
    color: red;
}

h3 {
	font-size:11px;
	padding:5px 0;
	font-weight:700;
	color:white;
	text-transform: uppercase
}

footer, .small{
	font-size: 9px;
	font-weight: 700;
	display:block
}

a {
	cursor: pointer;
    color: #FFD700;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/** HEADER **/

header {
	display: block;
	height: 20px;
	background: url(../images/login/bg1.png) repeat-x center bottom #47494b
}

#lang, #menu {
	margin:0;
    padding: 0;
	list-style: none
}

#lang{
	margin-right:10px;
}

#menu {
	margin-left:10px;
}

#menu li{
	float:left;
    padding-left: 3px;
    padding-top: 3px;
}

#lang li{
	float:right;
    padding-right: 0;
    padding-top: 5px;
}

#menu a {
	color:#AAA;
	display: block;
	font-weight: 700;
	text-align: center;
	white-space: nowrap;
    text-decoration: none;
    font-size: 10px;
	padding: 0 10px 0 10px;
}

#menu a:hover {
	color: #FFD700
}

/** CONTENT **/

#content {
	margin-top: 50px;
}

#desc_list {
	margin-top: 40px;
	list-style: none;
	font-weight: 700;
	padding-left: 0;
}

/** LOGIN BOX **/

.c {
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAdCAYAAABWk2cPAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAC5JREFUeNrszUENACAMALED/zqnAxEk8GkNdFXTY7sPpFKpVCqVSqVSqfTSEWAAcy8BIOjACEwAAAAASUVORK5CYII=);
	margin-right: 25px;
	padding-top: 1px;
	padding-bottom: 1px
}
.e {
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAQCAYAAADj5tSrAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADxJREFUeNpiZGBgeMZAIThy5IjwyZMnq4uLiw8BuR+g+CsQ/wTif0wMdACjloxaMmrJqCWjlgykJQABBgCwVg0iC/NrrAAAAABJRU5ErkJggg==) top right repeat-y;
	margin-left: 21px
}
.o {
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAOCAYAAADABlfOAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAC9JREFUeNpiYWBgYIJi9v///39hZGR8gCQGwowMJAImBhqAUUNHDR01dGQaChBgAM4WBQXa/TyvAAAAAElFTkSuQmCC) top left repeat-y;
}
.s {
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAhCAYAAADgWTpIAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAD9JREFUeNpiZGBgeMZABGAcVTiqcFThsFPI4urqykaUic+fP79MrNWuxCo0I1ahGrEKxYhVyE2sQhZiFAIEGAAmOxu+Nh+eywAAAABJRU5ErkJggg==) bottom repeat-x;
	padding-top: 20px;
	margin-right: 25px
}
.so {
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAhCAYAAAA2/OAtAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQBJREFUeNrslj0OgjAUgPtKFX8WBycnLkE8gCsrkyvxDMzcgAN4BFZPwMjiDUw8AEunxlrb5JE0RoVKHEz6ki+00PeFPEr6gBBCkVApxQHgYt0zAHEMSn4QXuqlXuqlXuql/yBVUsprHMfTpzVq1Jtyzk9FUazGCE0Elpwyxs5Zlh2EEJO6rgWe+eB69ncJRso086qqtkmSHJumWZdlydu2Vd9KAaWmnos0TTd5nu+jKNrpOlPduRhAM1jaXQMUz4xYs0TMPMTng9ogZo3vGqkRVmI3n+JacJEqS2J/+RtKmYsU3tQ4sMrBcAxDfxbo2RF2Owkfcnql5IXEaUs9BBgAKeNBG3nTHf8AAAAASUVORK5CYII=) bottom left no-repeat
}
.se {
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAhCAYAAAAswACjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARpJREFUeNrslrsOgjAUhosXgnEy7jwFr8AuCwuPwejMU/gGBhIWBlfDwooP4KSs3u9SD3qaVKIObeLUP/kTSuF8pz1tcjRCyJJIKk3TfpZlQ9/3pzBcoffgM7hskD9IQRREQRREQRREQRTkq0zTbP6a12RbItu29SRJDF3XBzBc11qii3RLZFlWOwzDXhzHoyoYZ8p/16oyEQE4jmN4ntfJ83zsuu4EXt3Q9xqIakVRzEQg8N88CII4iqIFdooH8Aa8Be/AJ4SWVU1sAQZF3zEQg+zRB6xHNU9bWCwRsf2/YsAjZn9GMEvkCVlJrKTEgAx0wWdWl1fhBSGEg5Tctt1qJ4yye9IVBNRXxAem/DHWcDUyoh+gb3oIMABNPH0iBhYasQAAAABJRU5ErkJggg==) bottom right no-repeat;
	margin-left: 21px
}
.n {
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAmCAYAAADN0BvRAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEhJREFUeNpiZGBgYGKgALBQwwB2SgxgfP36dTdFLpg7d24KRS4A4ocDHogUG8BIiQEU2T5qwKgBowaMGjBqwKgBowZgAoAAAwA39QbOeiTzeAAAAABJRU5ErkJggg==) top center repeat-x;
	margin-right: 25px;
	padding-top:8px
}
.no {
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAiCAMAAACHtmKxAAAAhFBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADFxcXn5+fy8vL09PT09PTy8vLv7+/s7Ozr6+v7+/v8/Pz9/f0AAAAAAAASEhIAAAASEhIAAAAAAAAAAAAAAAAAAAAAAAAAAABYWFiJiYmIiIioqKi3t7fV1dXx8fH///+OkcqoAAAAK3RSTlMAAQIDBAUGBwgJCgsVNWV1hoeIiouy0dHd3t7f3+Dh4uPk5ebn7u/y9Pj9bMLxHgAAAIlJREFUKM/tzFcSgjAARdE0RIKKii1iGhFb9r8/U0iYYQmO9/PMmwdACkKIUpkQxiQXDSFSlMuK0joWkayb7W7ftoexgKvj5zkMjymPxfl1vbCOc5FySjZvZ0JKlXPTxenOuFBK6z4FIC7trRMqkBlzB5VlXOqJvCJCLfNTM1d30M+1Dmr++qv6Be02S1k9HDCPAAAAAElFTkSuQmCC) top left no-repeat
}
.ne {
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAmCAYAAAAxxTAbAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAT9JREFUeNrsk09qhTAQxjPW/vWB3RR6AS/wjlFwX3BV6B0UbyBdeAKX3qALb9FF3RZauikIFQql2BjT8XWUKIXHi4+uMvCZjMT55ctEYIxZbPeQW/JJ2JoQtXgvUOZ/Qo41XQxFO5KcaQyoqupu1+0DgKzr+tHzvHtMBaqlUcyAv06yLLvVOacgCFac87eiKG5833/AV5w0ACe9etHUcxRF723bfuR5foX5JeocdYo6pF4Do8frksaHYbiK4/jJdd1rzD9RX6hGcSQtIuqo36CVJElfeJ2m6RrHM7pItrIG7MGSxg0bvyvLkjuOc4HTE9Q3iQ9XW/cfAQUCUkrWNE2/4SPFxdiTJT8iU90IIQ4IoB7VZs1SyAjrus5SHE5asA/IpiAeGcwgsE/I1jAQAzEQAzEQAzEQAzGQ/4H8CDAAgN1uC5+FygMAAAAASUVORK5CYII=) top right no-repeat;
	margin-left: 21px
}

#contentbox {
	margin-top: 40px;
	width: 360px;
	height: 205px;
	margin: 0 auto;
}

#regbox, #lostbox {
	display:none;
}

#contentbox label {
    display: block;
    width: 100px;
	font-weight: 700;
	float: left;
	margin: 2.5px 0;
	height: 16px;
	vertical-align: middle;
}

#contentbox input, #contentbox select {
	margin-bottom: 5px;
}

#contentbox input {
    width: 179px;
}

#contentbox input[type=submit] {
    width: auto;
}

#contentbox select{
    width: 184px;
}

/** BUTTONS **/

.box a:hover{
	text-decoration:none;
}
.box {
	border:none;
	background:transparent;
	margin:0 auto;
	width: 350px
}
.box-header, .box-footer, .box-footer, .box-content {
	width: 100%;
}
.box-header, .box-footer, .box-footer {
    font-size: 1px;
    height: 12px;
}
.box-header-left, .box-header-right, .box-content-left, .box-content-right, .box-footer-left, .box-footer-right {
    font-size: 1px;
    width: 14px;
}
.box-header-center, .box-footer-center{
	height: 12px;
	width: 316px;
}
.box-header-left {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGhJREFUeNpi/P//PwM5gImBTDCqkRYaWYhVKKOgBaavXjzO+f79ew8GUAIgBkvLazI8f/7c7NevXw9//Pjxn2gbN65dLM3CwrLlzp07ort27SLeqQ8ePKjg5+cX3bZtG8Ox46cfAAQYAEHAQlcdBfPNAAAAAElFTkSuQmCC") no-repeat scroll left top transparent;
}
.box-header-center {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwM5gImBTDCqkRYaWY4cOTKTHI2Mt2/fJisFsCxfvpwspzIamdqeIUcjQIABACj/DPHJVfbOAAAAAElFTkSuQmCC") repeat-x scroll left top transparent;
}
.box-header-right {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGBJREFUeNpi/P//PwM5gImBTDCqkSYaZ82a5SGjoMUAwqQAFiUlpe3V5bkX/v79GwTk3yfaxjt37jBwc3Mb/Pv3b1dvby8P0RqvXb/19uvXrwxMTEwqv379SiNWI0CAAQCqTx+Kiu5AzwAAAABJRU5ErkJggg==") no-repeat scroll left top transparent;
}
.box-content-left {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAbCAYAAABMU775AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwMxYPr06R+YmZn5796992Ppyk0nmBjIBKMaRzWOahzVOEw1MjL+H2J+BAgwAIPNDVlLEP8TAAAAAElFTkSuQmCC") repeat-y scroll left top transparent;
}
.box-content-right {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAbCAYAAABMU775AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADRJREFUeNpiVNUwPFyUn2bDyMjI8Pz588sNDQ16DEQAJgYywajGUY2jGkc1jmocJBoBAgwAUb0IM5SSVMIAAAAASUVORK5CYII=") repeat-y scroll left top transparent;
}
.box-footer-left {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGtJREFUeNpi/P//PwMxYMKECYe5uLhsPnz8+Gfu/BUnmRiIBL9//54OxAwqysosnW211kRrZGRkXPbly5dNDx48YHj+/DkD0RpZWFgY/v796//x48eCp0+f3mEk1o/ogImBTDCqkRYaAQIMAM/oK7O48DgwAAAAAElFTkSuQmCC") no-repeat scroll left bottom transparent;
}
.box-footer-center {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADdJREFUeNpilJbX3M9ABmBcuXL1J3I0svDycvOSpfHo0aMMZDn1////ZGlkYiATjGqkhUaAAAMAqfsJqW3D/xEAAAAASUVORK5CYII=") repeat-x scroll right bottom transparent;
}
.box-footer-right {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGtJREFUeNpiyMguvHz37t3/fX19/ysrK6f9//+fgRjMNG1yr87u3bsZPn369IuBgWEKA5GAmZeXt+HVq1d/fvz4kdbR0bGbWI1ML1++XPzr1y+dpSs3L2AgATCC3EsOYGIgE4xqpIVGgAADAMvIRt/zSctFAAAAAElFTkSuQmCC") no-repeat scroll left bottom transparent;
}

.button, .button-important {
    border: 0 none;
    height: 18px;
    vertical-align: middle;
    width: 100%;
}

.button-center {
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
	width: 316px;
}
.button-left, .button-right{
	width:4px;
}
.button-important:hover .button-left, .button:hover .button-left {
	background-position:left bottom !important
}

.button-important:hover .button-center, .button:hover .button-center {
	background-position:center bottom !important
}

.button-important:hover .button-right, .button:hover .button-right {
	background-position:right bottom !important
}
.button-important .button-left {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAlCAYAAACUChNgAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAZtJREFUeNqUkzFKBDEYhZOdzCQzk9ldRSwUhV0LRbDRQsXGSsED6AEEwQsJ3sBr2NrZiiiIjbqusO7O7kz+/DFTCDZOMj8EUny8vCTv0TRNrwghl0udNnENPdvdxr3eCvEZtt9f1cRzGKXUHyZNYKsM/nCrpQ2igbIkqKtDjPkXtqCafA1xbJeazYz5nyVMKwWjwUANX1+gmOam1oY9GtRsqop8AnWqf1+jWs6LspaFqxehPjCPQhPzCBPB0Wkj4dxIIYhKEuOErXJgVYMiFoy44JBSGQWMxxHXTvj24WluJwlKYb27YGrDf32wvHix1EJ3+KtLSSnP7f7ECf/WqjffdStfHu7ro/W+8Yro8cZaozw3glWDWjWAbUTBoDa2BAQB6sNvfw3yzwHkgw+tpnlt8hiUhZq8vxXD58eyHH9jfa0AsJyMofgegTNIUchMVQDBI2eQWMxFIOOEaZmhE5axCDFLkXXb1AlncRwGWUZEtxv4KHMmUyY6be3hOeJMCIQ0dXu+ubvnZ6sLSBnzq9Xp5trFVsaJC/4RYACGjtNHmtgJSgAAAABJRU5ErkJggg==") no-repeat scroll left top transparent;
}
.button-important .button-center {
    color: #FFFFFF;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAlCAYAAAByI9gkAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAM5JREFUeNq81D0KwkAQhuFs2CSbrEnWn0bF0s7aUqw9itfwMjbexFYI+IdgI2JhkUSSmOgZXsGFLR9mdpn5xHjQbyxw5HI2ZVAI8f4vtH6oWCFY5FmJ4O10fCF4v5xzBJu6Zm/8XgYFhYHyagSjIGCzqn0lEfRdzyCoXKeD4PaZhwQKrfUGwcloyH51tZj/OQGEbVcUlrBVCIssLVgCJLsUwcc+SWl0sH1UnssmJ26FbB+7JvIQ7BmjEGzHUcDCSmsfQUdK1ur6cHUI/AgwAMh2OgKelDaZAAAAAElFTkSuQmCC") repeat-x scroll center top transparent;
}
.button-important .button-right {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAlCAYAAACZFGMnAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAm5JREFUeNqUlL1rFEEUwGfeezOzs7v3nahRQkAQJAgiiGAjsbXyT7Cwsjb+A5aCjbWtjSgI9hZptJEQDB5oPFQkaDyVeB/r3e6ObzcWVjt7C7Oww/vNezvzfiPPnFxxosbzfTwWszS7NxqN7tCtK5dqQQyIZztvN+M4FiClzOoMoyi7fn49VQibVEyImg+D4vRSF0gsAJUgERaZ0kUgTqJoNp3MqyIkgCCtBSDKf5OOvn7YSyoQgUrLuNOBuNsDVKqYzung42BaVQ0xNE9WkIyhqNNFV2RyeV75T/M/iZj+PszT2YzD3VF5/PJuBC+c84CyXiEdyRoQx2BxngAgy0xhYHIfZI2Wgda5UcoVHDXD0Nt7lmMiGzirtUMAR/xBPigIDAZaIWdCrhXIatP295wGDUjcPvhzNNHEK3R9kFYkCSS8ej+gwcHwqbxxds37T6SN+CZJvNj7JHLnNmQURU9qtuoWjwdsbibPrZ6qZe7+4UgkaXqk+91rG7V8YkA8fLl9eyHdrVLZzcsX5hqRdQeoLSEfrlg/sYwFNF9EXKsVH4BcDHKFhLPJeFYVVGiOXJaE/3Q/6O+Oq3QnE0jb7WF07DgV6peZhu/648puMAG0VtdIWWvC3jKVEhZWVuo+neTTH0ORJgk556AsLzDa+RsWc0XoFJErS27FDa9PJowwNAFaY5B4Y6jXbhpvplYDG5FVfDVwQgBaarcDrxqNJsRhqAxbrhCBOq1m6IMwasggtKS4PL6RgJpRZH0QRKFkAEgruf/rEIl3xFsed4Ugvrueb7+Bnc9fHsv7Vy96txxY936SiUevd0WW5xt/BRgA7OXVRg0V1FEAAAAASUVORK5CYII=") no-repeat scroll right top transparent;
}
.button .button-left {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAlCAYAAACUChNgAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAZRJREFUeNq0k7tKxFAQhs9lzkmyiQsKgoi6jaKFWmihYmEp2Fj6AILgCwk+i09gYSdYiaCgyHrfdZPNuTnZysZMtnBgOCm+M/mZ8/88TdMzxthpe2qGUcU39w79wvIGa1LQWdlwrGEB5/zfYGYbw4IL54MPZWmZ854FrD9hBM37R9+/ffZ8XpR1LANjnO2+fZqHx64dFEWolYG/tnkxNN95Yeum/t5G1ZbeBoJ4wTaCAURQSnqNTcrQACFSwGKtAgnjZKkVyKi6RcEssExwhsOlI+G7m6tJmc2WSgpSBkfzn0/PLZ84SFkTuDqPsQ/I1WGPYjU5PUvHanf/yC2ubYdGFl1a37HjJGUM8wtuxoCFGSuDDoNlras+6s2P72Bf33tVWtwgH9Y6D8rSmOeXj+Ht/VPZ+8597eRKQ3+Q269+TsdKSAgSdAClaT8rHcsoTiBpZb4BnKg4yXwrG3I6VjHCaZulE1YSLMI6iZIkhTSzjoRBRxHq8HHLehK+vryIss6Wr7ZCwaNYza/unYgJND8B/wgwAKHg2cRrMmhLAAAAAElFTkSuQmCC") no-repeat scroll left top transparent;
}
.button .button-center {
    color: #FFD700;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAlCAYAAAByI9gkAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMhJREFUeNq81D0KwjAYxvEmTdKPtFrcBAVBvIO7k7uzB/Bu3sIrOFgQrSg6iFtttdrqGf5DAxl/8CY87yP6w3HjgKOm8yWDQjhfCEXr0Pkg+CxeFYL77FoieDzfCgTrumFv/N+WodFujaBvNMuqZ5RCUCs3YdCVPQSLRxYTKKy1awQHown71dli1X4DsMhJKSoIZQWro3wjuE1POYK7wyWn1cH2UWnDkhOEEdvHMOp6CNo48RmMOiErq9AGLHKuYqPe040m8CfAAHF1OauKsMTtAAAAAElFTkSuQmCC") repeat-x scroll center top transparent;
}
.button .button-right {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAlCAYAAACZFGMnAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAmBJREFUeNqUlDtvFDEQgGfssb2vkOMCESjhJUQTWooUFJEiIVEiUVNRURP+BCU/A4GoEQ1KRREhgQAdDxHCK7yiI/fau721GW/Sst7zysXu3beenZlv8OSp8w4arMH+HpTTyd1+v3+HVq/eaAQxAK+fPd7IsgwEIpRNNildXly9MpWSNggRS2i4SBlonzgjZoIOQC0ZginMthQNR+Pif79yFCiEAK0IpBBYPQNw9OHT97wG8gC2W3PCb0XkH1va/rI7qotFK4WjfCw10+35TII/yVpX+035eAK9/tAWkwJcVVHn/HnBRFjn+N3O15QvbAbxkr40wifDcXhaSRvOsUSSwvJ2nEygSKtg7/n/GE2OYYc+PL6hEMTRSAYkn8TZc4L4phVsnYPK8sudHPT+alJStINQxTix3XlBez+/PcTllcvhbzIalMvh8/uXXCW7hmmaPmjYqJu877G5JS6fvdDI3F73N0yLQ93Xr99q5BMDsPX00e1D3bFsspU25aW1a4UkVeneWEIGYXHpnPTZLGbSVkeKIVHMqLtl3fNJbXtzKMrrLg90ryR89XZnUKc7FxYXjs7JxYUWefWZsdT5+HVQ3+FanF46TrHR5lh7nimsdK/1aZiP7Z9uD/JJQY7trXTn4RfsCCHIopBOysonoDjJgj5FccrTKJKkjWQYKcnmTQiK00QqkyhfIyGkoHSuFYWhWJg4ZSgmwf1AaXYkCUFJalCbmIhD9IOaoiSNQ5CJDSoT8WzQuN/9Jf1xwfDQzxMU+Ob5ptjdeXcfV9ZvBlPOEwvE6Ad0tp5wP9i1fwIMAMus2O1XKTn9AAAAAElFTkSuQmCC") no-repeat scroll right top transparent;
}

.button-multi .button-center {
	width:167px;
}
.multi{
	display:block;
	width: 161px;
	float: left;
}
/** FLAGS **/

.flags {
    height: 11px;
    width: 16px;
	display: block;
    float: right;
    margin-right: 4px;
}

.de {
	background: url(../images/login/flags/de.png);
}
.en {
	background: url(../images/login/flags/us.png);
}
.es {
	background: url(../images/login/flags/es.png);
}
.fr {
	background: url(../images/login/flags/fr.png);
}
.pt {
	background: url(../images/login/flags/pt.png);
}
.ru {
	background: url(../images/login/flags/ru.png);
}

/** FOOTER **/

footer{
	margin-bottom:40px;
}

/** DIALOG **/

.ui-dialog {
	max-height: 80%;
}

#popup{
	margin: 3px;
}