/* ______________________________________________________________

-_____                              -_-/
  ' | -,                           (_ /                      '
 /| |  |`  _-_   _-_  -_-_        (_ --_  \\ \\ \\/\\ ,._-_ \\  _-_,  _-_
 || |==|| || \\ || \\ || \\         --_ ) || || || ||  ||   || ||_.  || \\
~|| |  |, ||/   ||/   || ||        _/  )) || || || ||  ||   ||  ~ || ||/
 ~-____,  \\,/  \\,/  ||-'        (_-_-   \\/\\ \\ \\  \\,  \\ ,-_-  \\,/
(                     |/
                      '
Tops:
Bilder zum Teil von:
alot of pics are made by:
- Greg Martin     (Planets)
- pshem           (Ships)
- aksu            (Buildings, Ships)
- MaxOstap        (Buildings)
- strangelet      (Ships)
- H Jakowlew      (Planets)
- eMorgan         (Ships)
- saisao          (Planets)
- sirgerg         (Ships)
- Cybergooch      (Buildings)
- *aiRaGe         (Research, Buildings)
- venomdesigns    (Planets)
- `tigaer         (Buildings)

Respect to your artwork!

______________________________________________________ */

/*Body der Hauptseite*/
body
{
  overflow             : auto!important;
  text-align           : center;
  font-family          : Tahoma;
  font-size            : 11px;
  font-weight          : bold;
  color                : #9D533C;
  margin-top           : 1px;
  margin-left          : 1px;
  background-color     : #000000;
  background-image     : url(img/bgmain.jpg);
  background-attachment: fixed;
  background-position  : top left;
  SCROLLBAR-BASE-COLOR      : #786C44;
  SCROLLBAR-ARROW-COLOR     : #9D533C;
  scrollbar-track-color     : #1F1F1F;
  scrollbar-face-color      : #000000;
  scrollbar-highlight-color : #786C44;
  scrollbar-3dlight-color   : #9D533C;
  scrollbar-darkshadow-color: #000000;
  scrollbar-shadow-color    : #000000;
}

div#content
{
  overflow             : visible;
  position             : relative;
  top                  : 15px !important;
  left                 : 170px;
  width                : 85%;
  height               : auto;
}

#header_top {
  left                 : 200px;
  position             : relative;
}

table.header tr.header td
{
  background-color     : transparent;
}

/*Farbanpassung*/
font[color="lime"], font[color="#00FF00"]
{
  font-size            : 10px;
  color                : #009F00;
}

font[color="red"], font[color="#FF0000"]
{
  font-size            : 10px;
  color                : #9F0000;
}

font[color="yellow"], font[color="#FFFF00"]
{
  font-size            : 10px;
  color                : #FF9F00;
}

/*##################################################################*/
/*Formatierung Ressourcenanzeige*/
/*##################################################################*/
/*Resanzeige*/
center table tr td center table tr td img
{
  border               : 0px #FFFFFF ridge;
  height               : 0px;
  width                : 0px;
}

div#header_top table.header
{
  width                : 130px;
}

div#header_top img[width="50"][height="50"]
{
  position             : fixed;
  right                : 2px;
  top                  : 2px;
  border               : 0px #FFFFFF ridge;
  height               : 90px;
  width                : 90px;
}

div#header_top table.header table.header td.header + td.header + td.header + td.header +  td.header + td.header
{
  background-image     : url(img/bgplanet.gif);
  background-repeat    : no-repeat;
  position             : fixed;
  right                : 0px;
  top                  : 0px;
  height               : 101px;
  width                : 91px;
}

/*Planetenpulldown*/
div#header_top select
{
  font-size            : 10px;
  font-weight          : normal;
  font-family          : Tahoma;
  color                : #9D533C;
  background-color     : #0F0F0F;
  border               : 1px #282416 ridge;
}

/*Bilder in der Rohstoffanzeige*/
div#header_top table tr table tr td img
{
  line-height          : 0px;
  height               : 14px;
  width                : 60px;
  border               : 0px #FFFFFF ridge;
}

div#header_top table tr table#resources tr td img[src*="dm_klein_2.jpg"]{height: 0px ;width: 0px;}

div#header_top table tr table#resources tr td + td + td + td:after      {content:url(images/dunklematerie.gif);}
div#header_top table tr table#resources tr td + td + td + td + td:after,
div#header_top table tr table#resources tr + tr td + td + td + td:after,
div#header_top table tr table#resources tr + tr + tr td + td + td + td:after{content:"";}
/*Offiziersbilder in der Rohstoffanzeige*/
div#header_top table tr table tr td a img
{
  line-height          : 0px;
  height               : 31px;
  width                : 31px;
  border               : 0px #FFFFFF ridge;
}

/*Tabellenzellen dahinter*/
table tr table tr td[align="center"][width="35"]
{
  padding              : 0px;
  line-height          : 0px;
  height               : 10px;
  width                : 10px;
  border               : 0px #FFFFFF ridge;
}

/*Menge der Res*/
table tr table tr td, table tr table tr td font[color="#ffffff"]
{
  letter-spacing       : 0px;
  border               : 0px #FFFFFF ridge;
  font-family          : Tahoma;
  font-weight          : normal;
  font-size            : 10px;
  color                : #9D533C;
}

/*Metall Kristall Deuterium Energie*/
table tr table tr td i b font[color="#ffffff"],
table tr table tr td i b
{
  letter-spacing       : 0px;
  font-family          : Tahoma;
  font-style           : normal;
  font-weight          : bold;
  font-size            : 11px;
  line-height          : 13px;
  color                : #786C44;
}

/*Übersicht*/
/*Über und Unterschriften*/
td.c, form table tr td.c, form table table td.c, #overdiv td.c,
form table[width="519"][border="0"] td.c[colspan="2"]
{
  height               : 27px;
  font                 : Tahoma;
  font-weight          : normal;
  font-size            : 10px;
  text-align           : center;
  vertical-align       : middle;
  letter-spacing       : 1px;
  color                : #786C44;
  padding-left         : 5px;
  background-image     : url(img/balken2.gif);
  background-color     : transparent;
  border               : 0px #FFFFFF dashed; /*dashed gestrichelt, solid durchgehend*/
}

/*Über und Unterschriften Links*/
td.c a, td.c a:link, td.c a:visited
{
  color                : #786C44;
}

/*Über und Unterschriften*/
td.c a:hover
{
  color                : #925300;
}

/*Flottencounter*/
/*Übersicht*/
tr.flight th, tr.return th, tr.holding th
{
  text-align           : left;
  letter-spacing       : 0px;
  font-family          : Tahoma;
  font-weight          : normal;
  font-size            : 11px;
  background-color     : #000000;
}

/*foxgameberichtigung*/
tr.flight th font[color="lime"], tr.return th font[color="lime"], tr.holding th font[color="lime"]
{
  display              : block;
  width                : 65px;
  text-align           : center;
}

/*Zeit fliegende Flotten*/
tr.flight th div
{
  font-size            : 10px;
  text-align           : center;
  color                : #786C44;
}

/*Zeit rückkehrende Flotten*/
tr.return th div
{
  font-size            : 10px;
  text-align           : center;
  color                : #453E25;
}

/*Zeit haltende Flotten*/
tr.holding th div
{
  font-size            : 10px;
  text-align           : center;
  color                : #584F2E;
}

/*Planetenmenü*/
input[value="Kolonie aufgeben"], input[value="Umbenennen"]
{
  border               : 0px;
  background-color     : transparent;
  background-repeat    : no-repeat;
  background-position  : left;
  padding-right        : 1px;
  padding-left         : 11px;
  text-align           : left;
  width                : 90px;
  height               : 15px;
}

input[value="Kolonie aufgeben"]{background-image:url(img/koloex.gif);}
input[type="submit"][value="Kolonie aufgeben"]:hover
{
  background-image     : url(img/koloex_h.gif);
  background-position  : left;
  text-decoration      : underline;
}

input[value="Umbenennen"]      {background-image:url(img/kolore.gif);}
input[type="submit"][value="Umbenennen"]:hover
{
  background-image     : url(img/kolore_h.gif);
  background-position  : left;
  text-decoration      : underline;
}

/*##################################################################*/
/*##################################################################*/
/*##################################################################*/


/*'''''''''''''''''''###################''''''''''''''''''''############*/
/*Galaxieansicht*/
/*'''''''''''''''''''###################''''''''''''''''''''############*/
center form#galaxy_form table
{
  text-align           : center;
  width                : 206px;
  height               : 80px;
  background-repeat    : no-repeat;
  background-color     : transparent;
  background-position  : center;
  background-image     : url(img/galadisplay.gif);
}

center form#galaxy_form table tr td table
{
  height               : auto;
  background-image     : none;
  text-align           : center;
  width                : 90px;
}

center form#galaxy_form table td
{
  padding-top          : 10px;
}

center form#galaxy_form table tr td table tr td.c
{
  background-repeat    : no-repeat;
  background-color     : transparent;
  background-position  : center;
  background-image     : url(img/bggala.gif);
  height               : 16px;
  letter-spacing       : 0px;
  padding-bottom       : 2px;
  padding-top          : 2px;
}

/*Buttons der Navigation in der Galaxie*/
form#galaxy_form td.l input
{
  display              : block;
  font-size            : 10px;
  text-align           : center;
  vertical-align       : middle;
  height               : 16px;
  width                : 100%;
  background-image     : none;
  padding-left         : 2px;
  padding-right        : 2px;
  border               : 0px;
  border-top           : 1px #282416 ridge;
  border-bottom        : 1px #282416 ridge;
}

form#galaxy_form td.l input[name="galaxyRight"],
form#galaxy_form td.l input[name="systemRight"],
form#galaxy_form td.l input[name="galaxyLeft"],
form#galaxy_form td.l input[name="systemLeft"]
{
  cursor               : pointer;
  display              : inline;
  border               : 0px;
  height               : 16px;
  width                : 100%;
  font-size            : 0px;
  background-repeat    : no-repeat;
  background-color     : transparent;
}

form#galaxy_form td.l input[name="galaxyLeft"],
form#galaxy_form td.l input[name="systemLeft"]
{
  background-position  : right;
  background-image     : url(img/left.gif);
}

form#galaxy_form td.l input[name="galaxyRight"],
form#galaxy_form td.l input[name="systemRight"]
{
  background-position  : left;
  background-image     : url(img/right.gif);
}

form#galaxy_form input[value="Anzeigen"]:hover,
form#galaxy_form input[value="Anzeigen"]:focus
{
  background-image     : url(img/bgabsend.gif);
}
form#galaxy_form input[value="Anzeigen"]
{
  height               : 22px;
  width                : 86px;
  border               : 0px;
  background-color     : transparent;
}

/*Tabelle dahinter*/
form#galaxy_form td.l
{
  width                : 30px;
  height               : auto;
  padding              : 0px;
  padding-top          : 1px;
  background-image     : none;
  text-align           : center;
  background-color     : transparent;
}

table#t1 td, table#t2 td
{
  border               : 0px #282416 ridge;
}

/*Allianzmember*/  .allymember   {color:lime;}
/*Anfänger*/       .noob         {color:#009F00;}
/*Starke Spieler*/ .strong       {color:#FF0020;}
/*U-Mod*/          .vacation     {color:#0080FF;}
/*Inaktiv*/        .inactive     {color:#B65A00;}
/*Toter Acc*/      .longinactive {color:#999999;}
/*Gesperrter Acc*/ .banned       {color:#5F5F5F;text-decoration:line-through;}

/*Anzahl der vorhandenen Interplanies*/
span#missiles{color:#9D533C;}

/*Phalanx hervor heben*/
a[title="Phalanx"]:hover{background-color:#282416;}
a[title="Phalanx"]
{
  display              : block;
  background-color     : #0F0F0F;
  border               : 0px #282416 ridge;
}

/*Raketenmenü*/
form table[border="0"] td.c[colspan="2"]
{
  height               : 15px;
  padding              : 0px;
  vertical-align       : top;
  background-image     : none;
  background-color     : transparent;
}

form table[border="0"] td.c[colspan="2"] input[type="submit"][name="aktion"][value="Angreifen"]:hover
{background-image:url(img/bgrak_hover.gif);cursor:pointer;}
form table[border="0"] td.c[colspan="2"] input[type="submit"][name="aktion"][value="Angreifen"]
{
  height               : 27px;
  width                : 156px;
  border               : 0px;
  background-image     : url(img/bgrak.gif);
  background-color     : transparent;
}

/*########################################################################*/
/*########################################################################*/
/*Fleetinfofeld*/
table#fleetstatustable
{
  background-image     : none;
  background-color     : transparent;
}

table#fleetstatustable td
{
  text-align           : left;
  background-color     : transparent;
  background-image     : none;
}

table#fleetstatustable tr td span.error
{
  color                : #DF0000;
}

table#fleetstatustable tr td span.success
{
  color                : #00BF00;
}

/*########################################################################*/
/*########################################################################*/
/*Tooltipp*/
/*neues Tooltipp*/
#overdiv
{
  overflow             : visible !important;
  padding              : 0px !important;
  border               : 0px #282416 ridge!important;
  background-color     : transparent !important;
}

#overdiv table table
{
  background-color     : #000000 !important;
  border               : 1px #282416 ridge !important;
}

#overdiv table table table
{
  background-color     : transparent !important;
  border               : 0px #282416 ridge !important;
}

#overdiv table tr td td
{
  padding              : 2px;
  text-align           : left;
}


#overdiv table tr td td td
{
  padding              : 0px;
  text-align           : center;
}

#overdiv font[color=white]
{
  font-size            : 10px;
  font-family          : Tahoma;
  color                : #9D533C;
}

#overdiv font[color=white] b
{
  font-weight          : normal;
}

#overdiv tr th
{
  letter-spacing       : 0px;
  padding-left         : 3px;
  padding-right        : 1px;
  border               : 1px #282416 ridge;
}

/*Tooltipp Galaxieerweiterung*/
/*Hintergrund Allyinfo, Zeilen Planet / Mond / Tfinfo*/
#overdiv table th table tr th
{
  text-align           : center;
  background-image     : none;
  background-color     : #000000;
  border               : 1px #282416 ridge;
}

/*Zeile in der Spieler Info*/
#overdiv table th table tr td
{
  text-align           : center;
  background-image     : none;
  background-color     : #000000;
  border               : 0px #282416 ridge;
}

#overdiv table[width="240"] table
{
  width                : 100%;
  text-align           : center;
  background-image     : none;
  background-color     : #000000;
  border               : 0px #282416 ridge;
}

#overdiv table tr th table tr th table tr th
{
  text-align           : left;
  background-image     : none;
  background-color     : transparent;
  border               : 0px #282416 ridge;
}

#overdiv table tr th table tr th table tr td
{
  text-align           : center;
  background-image     : none;
  background-color     : transparent;
  border               : 0px #282416 ridge;
}

#overdiv table[width="190"] td.c,
#overdiv table[width="240"] td.c
{
  border-left          : 1px #282416 solid;
  border-right         : 1px #282416 solid;
  background-image     : url(img/balkengala.gif);
  padding              : 1px 1px 2px 1px;
  height               : auto;
}

/*Links im Tooltipp*/
#overdiv a
{
  font                 : Tahoma;
  font-weight          : normal;
  font-size            : 10px;
  text-decoration      : none;
}

/*Links im Tooltipp*/
#overdiv a:hover
{
  font                 : Tahoma;
  font-weight          : normal;
  font-size            : 10px;
  text-decoration      : none;
}

/*"Spoi - Link"*/
#overdiv font[color="#808080"]
{
  display              : none;
}

#overdiv font[color="#808080"] + br, #overdiv font[color="#808080"] + br + br
{
  display              : none;
}

/*Bilder im Tooltipp*/
#overdiv img
{
  height               : 90px;
  width                : 90px;
}

/*###################################################################*/
/*###################################################################*/
/*###################################################################*/
/*Formulare*/
/*Eingabefelder, Radiobuttons und Buttons allgemein*/
input
{
  font-family          : Tahoma;
  font-weight          : normal;
  font-size            : 9px;
  text-align           : center;
  vertical-align       : middle;
  color                : #786C44;
  background-color     : #17140B;
  background-image     : none;
  padding-left         : 5px;
  padding-right        : 5px;
  border               : 1px #282416 ridge; /*dashed gestrichelt, solid durchgehend*/
}

input[type="text"]:focus, input[type="password"]:focus,
input[type="text"]:hover, input[type="password"]:hover,
input[name="ship202"]:hover, input[name="ship202"]:focus,
input[name="ship203"]:hover, input[name="ship203"]:focus,
input[name="ship204"]:hover, input[name="ship204"]:focus,
input[name="ship205"]:hover, input[name="ship205"]:focus,
input[name="ship206"]:hover, input[name="ship206"]:focus,
input[name="ship207"]:hover, input[name="ship207"]:focus,
input[name="ship208"]:hover, input[name="ship208"]:focus,
input[name="ship209"]:hover, input[name="ship209"]:focus,
input[name="ship210"]:hover, input[name="ship210"]:focus,
input[name="ship211"]:hover, input[name="ship211"]:focus,
input[name="ship213"]:hover, input[name="ship213"]:focus,
input[name="ship214"]:hover, input[name="ship214"]:focus,
input[name="ship215"]:hover, input[name="ship215"]:focus,
textarea:hover, textarea:focus
{
  background-color     : #0F0F0F;
}

input[type="submit"]:hover,
input[type="reset"]:hover
{
  cursor               : pointer;
  background-repeat    : no-repeat;
  background-image     : url(img/anibutton.gif);
  background-position  : center;
}

/*Pulldown-(Auswahl-)menüs*/
select
{
  font-family          : Tahoma;
  font-size            : 10px;
  font-weight          : normal;
  color                : #9D533C;
  background-color     : #0F0F0F;
  border               : 1px #282416 ridge;
}

/*Nachrichtenfenster, Allianzseiten und Notizeneditorfenster*/
textarea
{
  font-family          : Tahoma;
  background-position  : center;
  background-repeat    : no-repeat;
  background-attachment: fixed;
  background-image     : none;
  font-weight          : normal;
  color                : #9D533C;
  background-color     : #17140B;
  width                : 100%;
  border               : 0px;
  font-size            : 10px;
  padding              : 3px;
}

/*Formatierung der Commander Werbung*/
/*neue Werbung*/
#combox_container, #anfang, #ende, #combox
{
  font-weight          : normal !important;
  font-size            : 9px !important;
  background-image     : none !important;
  border               : 0px solid #786C44 !important;
}

#combox
{
  height               : 30px !important;
}

/*Tabellen*/
table
{
  color                : #925300;
  empty-cells          : show;
  background-color     : transparent;
  border               : 0px;
}

/*Anpassung der Imperialansicht*/
table tr th
{
  width                : auto;
}

td
{
  font-weight          : normal;
  font-size            : 10px;
  text-align           : center;
  letter-spacing       : 0px;
  padding-left         : 5px;
  padding-right        : 5px;
  border               : 0px #282416 ridge;
  background-color     : transparent;
  color                : #786C44;
}

table tr th img
{
  border               : 0px #9F9F9F ridge;
}

/*#################################################*/
                  /*Flottenmenü*/
/*#################################################*/

/*Zeilen in Flottenmenü, etc*/
form table tr th, table tr th /*, tr[height="20"] > th[colspan="2"] + th[colspan="2"]*/
{
  font-weight          : normal;
  font-size            : 10px;
  text-align           : center;
  letter-spacing       : 0px;
  padding-left         : 5px;
  padding-right        : 5px;
  border               : 1px #282416 ridge;
  background-color     : #000000;
  background-image     : none;
  color                : #786C44;
}

/*
tr[height="20"] > th[colspan="2"] + th[colspan="2"]
{
  vertical-align       : middle;
}

tr[height="20"] > th + th[colspan="2"]
{
  vertical-align       : middle;
  border               : 0px #282416 ridge;
  background-image     : none;
}
*/
/*Ergänzungen zuden max - Links*/
a[href="javascript:maxShip('ship202');"]:after{content: " KT";}
a[href="javascript:maxShip('ship203');"]:after{content: " GT";}
a[href="javascript:maxShip('ship204');"]:after{content: " LJ";}
a[href="javascript:maxShip('ship205');"]:after{content: " SJ";}
a[href="javascript:maxShip('ship206');"]:after{content: " KZ";}
a[href="javascript:maxShip('ship207');"]:after{content: " SS";}
a[href="javascript:maxShip('ship208');"]:after{content: " KO";}
a[href="javascript:maxShip('ship209');"]:after{content: " RC";}
a[href="javascript:maxShip('ship210');"]:after{content: " SP";}
a[href="javascript:maxShip('ship211');"]:after{content: " BB";}
a[href="javascript:maxShip('ship213');"]:after{content: " ZS";}
a[href="javascript:maxShip('ship214');"]:after{content: " RIP";}
a[href="javascript:maxShip('ship215');"]:after{content: " SK";}

/*Alle / Keine Schiffe*/
a[href="javascript:noShips();"]:before, a[href="javascript:maxShips();"]:before {content: "« ";}
a[href="javascript:noShips();"]:after, a[href="javascript:maxShips();"]:after   {content: " »";}

/*2te Seite*/
/*Geschwindigkeitspulldown*/
select[name="speed"] option[value="10"]{color:#00BF00;}
select[name="speed"] option[value="9"]{color:#009F00;}
select[name="speed"] option[value="8"]{color:#007F00;}
select[name="speed"] option[value="7"]{color:#005F00;}
select[name="speed"] option[value="6"]{color:#003F00;}
select[name="speed"] option[value="5"]{color:#3F0000;}
select[name="speed"] option[value="4"]{color:#480000;}
select[name="speed"] option[value="3"]{color:#4F0000;}
select[name="speed"] option[value="2"]{color:#580000;}
select[name="speed"] option[value="1"]{color:#5F0000;}

/*Planeten/Mond/TF - pulldown*/
select[name="planettype"] option[value="1"]{color:#9D533C;}/*Planet*/
select[name="planettype"] option[value="2"]{color:#9D533C;}/*TF*/
select[name="planettype"] option[value="3"]{color:#9D533C;}/*Mond*/

/*Bearbeitung der Divs für die Werte*/
div#distance:after    {content: "00000 km";} /*Entfernung*/
div#duration:after    {} /*Dauer einer Strecke*/
div#consumption:after {content: " t";} /*Treibstoffverbrauch*/
div#maxspeed:after    {content: " Mach";} /*Max.Geschwindigkeit*/
div#storage:after     {content: " t";} /*Ladekapazität*/

/*Flottenmenü 3te Seite Hintergrund Rohstoffe und Auftrag*/
/*Übersicht*/
table tr th table tr th
{
  letter-spacing       : 1px;
  vertical-align       : middle;
  font-weight          : normal;
  color                : #786C44;
  padding-left         : 20px;
  padding-right        : 20px;
  text-align           : left;
  font-size            : 10px;
  background-color     : #000000;
  border               : 0px #786C44 ridge; /*dashed gestrichelt, solid durchgehend*/
}

/*Übersicht -- Überschussanzeige*/
div#remainingresources
{
  letter-spacing       : 1px;
  vertical-align       : middle;
  font-weight          : normal;
  text-align           : center;
  font-size            : 10px;
  background-color     : #000000;
  border               : 0px #786C44 ridge; /*dashed gestrichelt, solid durchgehend*/
}

/*Übersicht -- max und alle Res link*/
table tr th table tr th a,
table tr th table tr th a.s,
table tr th table tr th a.t
{
  text-align           : center;
  color                : #9D533C;
  text-decoration      : underline;
  font-weight          : normal;
}

table tr th table tr th a:hover
{
  text-decoration      : underline;
  font-weight          : normal;
  text-align           : center;
  color                : #925300;
}

/*Linkergänzung*/
a[href="javascript:maxResource('1');"]:after{content: "";} /*Metall*/
a[href="javascript:maxResource('2');"]:after{content: "";} /*Kristall*/
a[href="javascript:maxResource('3');"]:after{content: "";} /*Deuterium*/
a[href="javascript:maxResources()"]:after {content: " einladen";} /*Alle Rohstoffe*/
a[href="javascript:maxResources();"]:after{content: " einladen";} /*Alle Rohstoffe / Fehlerbehebung*/

/*Pulldown Haltezeit*/
select[name="holdingtime"] option[value="1"] {color:#003F00;}
select[name="holdingtime"] option[value="2"] {color:#005F00;}
select[name="holdingtime"] option[value="4"] {color:#007F00;}
select[name="holdingtime"] option[value="8"] {color:#009F00;}
select[name="holdingtime"] option[value="16"]{color:#00BF00;}
select[name="holdingtime"] option[value="32"]{color:#00DF00;}
select[name="holdingtime"] option[value="0"] {color:#BF0000;}

/*###################################################################*/
                       /*Rohstoffenanzeige Ressourcen*/
/*###################################################################*/
td.k
{
  text-align           : center;
  font-size            : 10px;
  padding-left         : 5px;
  padding-right        : 5px;
  border               : 1px #282416 ridge;
  background-color     : #000000;
  color                : #9D533C;
}

/*Farbanpassung*/
th font[color="#FFFFFF"]{color: #9D533C;}
th font[color="#FF0000"]{color: #BF0000;}
th font[color="#00FF00"]{color: #00BF00;}

/*Berechnenbutton*/
td.k input
{
  color                : #9D533C;
  border               : 1px #282416 ridge;
  background-color     : #0F0F0F;
}

/*Formatierung der Pulldowns*/
select[name="last1"]   { padding-left:8px; background-image:url(img/1.gif); }
select[name="last2"]   { padding-left:8px; background-image:url(img/2.gif); }
select[name="last3"]   { padding-left:8px; background-image:url(img/3.gif); }
select[name="last4"]   { padding-left:8px; background-image:url(img/4.gif); }
select[name="last12"]  { padding-left:8px; background-image:url(img/12.gif); }
select[name="last41"]  { padding-left:8px; background-image:url(img/41.gif); }
select[name="last212"] { padding-left:8px; background-image:url(img/212.gif); }

option[value="100"]{color:#00BF00;}
option[value="90"]{color:#009F00;}
option[value="80"]{color:#007F00;}
option[value="70"]{color:#005F00;}
option[value="60"]{color:#003F00;}
option[value="50"]{color:#3F0000;}
option[value="40"]{color:#480000;}
option[value="30"]{color:#4F0000;}
option[value="20"]{color:#580000;}
option[value="10"]{color:#5F0000;}
option[value="0"] {color:#680000;}

/*Abstand vor Gesamt*/
th[colspan="5"][height="4"]
{
  height               : 0px;
  padding              : 0px;
  border               : 0px #282416 ridge;
  background-color     : transparent;
}



/*Gebäude, Werft, Forschung und Verteidigung*/
body table,
body table tr th table,
body table tr td table tr th table
{
  border-collapse      : separate;
}

body table tr td table
{
  border-collapse      : collapse;
}

/*Eingabefelder inder Werft*/
form table tr td table tr td.k input
{
  color                : #786C44;
  background-color     : #17140B;
  border               : 1px #282416 ridge; /*dashed gestrichelt, solid durchgehend*/
}

/*Hauptinfotabelle Gebs Forsch etc*/
table tr td table tr td.l
{
  text-align           : left;
  width                : auto;
  font-weight          : normal;
  font-size            : 10px;
  line-height          : 13px;
  background-color     : transparent;
  color                : #9D533C;
  vertical-align       : middle;
  padding              : 0px;
  background-image     : url(img/bgg.gif);
  background-repeat    : x-repeat;
  border               : 0px #3F3F3F solid;
}

/*rechtes Ende der Tabellen*/
body table tr td table tr td.k font
{
  line-height          : 12px;
}

body table tr td table tr td.k,
body form table tr td table tr td.k,
body table tr td table tr td.l + td.l + td.l
{
  padding              : 16px;
  padding-left         : 2px;
  width                : 65px;
  background-image     : url(img/bgg_ende.gif);
  background-repeat    : x-repeat;
  background-color     : transparent;
  text-align           : center;
  vertical-align       : middle;
  border               : 0px #786C44 ridge;
}

/*Erste Zeile*/
table tr td table tr td.l:first-line
{
  line-height          : 18px;
}

table[align="top"] tr td table[width="530"]
{
  background-image     : url(img/bgg_down.gif);
  background-repeat    : no-repeat;
  background-position  : center bottom;
}

form table table td.c[colspan="2"]{background-image:none;padding-left:88px;}
form table table td.c[colspan="2"] input[type="submit"][value="Absenden"]:hover{background-image:url(img/bgg_hover.gif);cursor:pointer;}
form table table td.c[colspan="2"] input[type="submit"][value="Absenden"]
{
  height               : 27px;
  width                : 86px;
  border               : 0px;
  background-color     : transparent;
}


body table tr td table tr td.k a,
body table tr td table tr td.l a font
{
  letter-spacing       : 0px;
}



table tr td table tr td.l a,
table tr td table tr td.l font
{
  line-height          : 13px;
}

/*Ressourcen*/
table tr td table tr td.l b
{
  text-decoration      : underline;
  font-weight          : normal;
  color                : #786C44;
  padding-left         : 2px;
  padding-right        : 3px;
}

/*############################################################################################*/
/*---------------------------------Techniktabelle------------------------*/
/*############################################################################################*/
center table tr td.l
{
  font-size            : 10px;
  color                : #17140B;
  width                : 50%;
  background-image     : none;
  background-color     : #000000;
  border               : 1px #282416 ridge;
  padding              : 1px;
  padding-left         : 2px;
  padding-right        : 2px;
  text-align           : left;
  vertical-align       : top;
}

center table tr td.l table tr td
{
  text-align           : left;
}

center table tr td.l table tr td + td
{
  text-align           : right;
}
/*############################################################################################*/

/*Formatierung der Gebbeschreibung*/
table[border="1"]
{
  border               : 0px #282416 ridge;
  text-align           : center;
}

table[border="1"] tr td
{
  border               : 1px #282416 ridge;
  background-color     : #000000;
  text-align           : center;
}

/*Spruntorauswahlfeld*/
select[size="10"][name="zm"]
{
  border               : 2px #282416 solid;
}

table tr th p table tr td
{
  padding-left         : 3px;
  padding-right        : 3px;
  border               : 1px #786C44 ridge;
  background-color     : #000000;
  text-align           : left;
}

/*Größe der Bilder in Gebs Werft Def und Forschung*/
table tr th table tr td img, td.l img
{
  width                : 152px;
  height               : 160px;
  border               : 0px #3F3F3F solid;
}

/*Damit die Offizier-Bilder nicht so groß sind*/
/*Die kleinen Symbole*/
td.l img[src*="dm_klein_1.jpg"],
td.l img[src*="commander_ikon.gif"],
td.l img[src*="technokrat_ikon.gif"],
td.l img[src*="geologe_ikon.gif"],
td.l img[src*="ingenieur_ikon.gif"],
td.l img[src*="admiral_ikon.gif"]
{
width : 20px;
height : 20px;
border : 0px #3F3F3F solid;
}

/*Die Gesichter der Offiziere*/
td.l img[src*="DMaterie.jpg"],
td.l img[src*="commander_stern_gross.jpg"],
td.l img[src*="ogame_technokrat.jpg"],
td.l img[src*="ogame_geologe.jpg"],
td.l img[src*="ogame_ingenieur.jpg"],
td.l img[src*="ogame_admiral.jpg"]
{
  width                : 120px;
  height               : 120px;
  border               : 0px #3F3F3F solid;
}


/*Counter in der Werft und Verteidiugng*/
div.z
{
  width                : 174px;
  padding              : 2px;
  display              : block;
  border               : 1px #282416 ridge;
  letter-spacing       : 0px;
  background-color     : #17140B;
  color                : #786C44;
  text-decoration      : none;
  font-weight          : normal;
}

/*Countdown in Gebs und forschung*/
td.k div.z
{
  width                : 63px;
  padding-top          : 2px;
  padding-left         : 0px;
  padding-right        : 0px;
  line-height          : 16px;
  color                : #786C44;
  border               : 0px #786C44 ridge;
  background-color     : transparent;
  vertical-align       : middle;
}

/*"Abbrechen"-Link der Counter*/
td.k div.z a, td.k div.z a.s, td.k div.z a.t
{
  padding-left         : 1px;
  padding-right        : 1px;
  display              : block;
  border               : 1px #282416 ridge;
  letter-spacing       : 0px;
  background-color     : #17140B;
  color                : #786C44;
  text-decoration      : none;
  font-weight          : normal;
  font-size            : 9px;
}

td.k div.z a:hover
{
  display              : block;
  color                : #FF0000;
}

/*########################################################################*/
/*Einstellungen*/
/*########################################################################*/
/*Anzeige bei Hover*/
a[title*="Der Urlaubsmodus"]:hover:after          {color: #786C44;content:" -- Erklärung: "attr(title);}
a[title*="Anzahl der Spionagesonden"]:hover:after {color: #786C44;content:" -- Erklärung: "attr(title);}
a[title*="IP-Check"]:hover:after                  {color: #786C44;content:" -- Erklärung: "attr(title);}
a[title*="Diese Mailadresse"]:hover:after         {color: #786C44;content:" -- Erklärung: "attr(title);}
a[title*="Wenn du hier"]:hover:after              {color: #786C44;content:" -- Erklärung: "attr(title);}

/*########################################################################*/
/*Allianzergänzungen*/
/*########################################################################*/
table[width="519"] th[colspan="2"] a[href*="&a=9"]:before {content:"Allianz-Tag ändern ";}
table[width="519"] th[colspan="2"] a[href*="&a=10"]:after {content:" Allianz-Name ändern";}

/*########################################################################*/
/*Notizn*/
/*########################################################################*/
/*Pulldown in den Notizen*/
select[name="u"] option[value="0"]{color:#009F00;}
select[name="u"] option[value="1"]{color:#FF9F00;}
select[name="u"] option[value="2"]{color:#9F0000;}
/*########################################################################*/
/*Nachrichtentabelle*/
/*########################################################################*/
/*Anzahl der Buchstaben*/
span#cntChars
{
  color                : #9D533C;
}

/*kleine durchsichtige Zelle*/
table.header tr.header td table tr td.b
{
  empty-cells          : hide;
  border               : 0px #282416 ridge;
  padding-top          : 4px;
  padding-bottom       : 4px;
  padding-left         : 6px;
  padding-right        : 6px;
  color                : #9D533C;
  font-size            : 10px;
  text-align           : left;
  background-image     : none;
  background-color     : #0F0F0F;
}

/*Spionageberichte*/
table tr td table tr td.b table
{
  margin-top           : 4px;
  background-color     : #000000;
  border               : 1px #282416 ridge;
}

table tr td table tr td.b table tr td
{
  text-align           : left;
  padding-left         : 7px;
  color                : #9D533C;
  background-color     : transparent;
  background-image     : none;
}

table tr td table tr td.b table tr td.c
{
  color                : #786C44;
  font-size            : 0px;
  line-height          : 0px;
  padding-left         : 12px;
  height               : 25px;
  vertical-align       : middle;
  background-image     : url(img/balkenspio.gif);
  text-align           : left;
  background-color     : transparent;
}

table tr td table tr td.b table tr td.c:first-line {
  line-height          : 12px;
  font-size            : 10px;
}

table tr td table tr td.b table + table tr td.c:before {
 content              : "planetare Aktivitäten";
}

table tr td table tr td.b table + table+ table tr td.c:before {
 content              : "";
}

/*Spioabwehr Chance: ...*/
span.espionagereport, td.b center
{
  color                : #FF5F00;
}

/*Spionage Popup*/
table[width="99%"] table[width="400"] td.c[colspan="4"]
{
  color                : #786C44;
  font-size            : 10px;
  padding-left         : 12px;
  height               : 25px;
  width                : 400px;
  vertical-align       : middle;
  background-image     : url(img/balkenspio.gif);
  text-align           : left;
  background-color     : transparent;
}

table[width="99%"] table[width="400"], table[width="99%"] table[width="400"] td
{
  width                : 100px;
  text-align           : left;
  background-image     : none;
  background-color     : #000000;
}


table[width="99%"] table[width="400"], table[width="99%"] table[width="400"] td[colspan="4"]
{
  width                : 400px;
}

/*Kampfberichte*/
table tr td table
{
  border               : 0px #FFFFFF dashed;
}

span.combatreport
{
  color                : #9F0000;
}

/*Hintergrund im KB und in den Nachrichten zwischenzeilen*/
table tr td table tr th
{
  border-top           : 1px #282416 ridge;
  border-left          : 0px #282416 ridge;
  border-right         : 0px #282416 ridge;
  border-bottom        : 1px #282416 ridge;
  background-color     : #000000;
}

/*Kampfberichte*/
/*Haupttabelle*/
table[width="99%"]
{
  border-top           : 0px #282416 ridge;
  border-left          : 0px #282416 ridge;
  border-right         : 0px #282416 ridge;
  border-bottom        : 0px #282416 ridge;
  vertical-align       : top;
  height               : 100%;
  width                : 100%;
  padding-left         : 30px;
  padding-right        : 30px;
  background-color     : transparent;
  background-image     : none;
}

table[width="99%"] tr td
{
  color                : #9D533C;
  border-top           : 0px #282416 ridge;
  border-left          : 0px #282416 ridge;
  border-right         : 0px #282416 ridge;
  border-bottom        : 0px #282416 ridge;
  vertical-align       : top;
  height               : 100%;
  width                : 100%;
  background-image     : url(img/bg_blackkb.png);
  background-color     : transparent;
}

table[width="99%"] tr td table tr th, table[width="99%"] tr td table
{
  border-top           : 0px #282416 ridge;
  border-left          : 0px #282416 ridge;
  border-right         : 0px #282416 ridge;
  border-bottom        : 0px #282416 ridge;
  background-color     : transparent;
}

table[width="99%"] tr td table tr th table
{
  background-color     : #000000;
}

/*Zellen mit Kampfkraft Anzahl etc*/
table tr td table tr th table tr th
{
  color                : #9D533C;
  width                : 50px;
  padding-left         : 3px;
  padding-right        : 3px;
  text-align           : center;
  background-color     : transparent;
  background-image     : url(img/bgkb.gif);
}

/*Kampfausgang*/
table tr td p
{
  width                : auto;
  text-align           : center;
  color                : #9D533C;
  background-color     : transparent;
}

/*########################################################################*/
/*########################################################################*/
/*########################################################################*/

/*Planetenübersicht*/

/*Mondbild*/
th br a img[width="50"][height="50"]
{
  width                : 60px;
  height               : 60px;
}

th[colspan="2"] > br + center{color: #9D533C; line-height: 15px;}
th[colspan="2"] > br + center div#bxy:before{content:"Dauer: ";}
th[colspan="2"] > br + center div#bxy
{
  padding	      : 1px;
  width                : 50%;
}

table.s
{
  width                : 250px;
  background-color     : transparent;
  border-bottom        : 0px #000000 solid;
  border-top           : 0px #000000 solid;
  border-left          : 0px #000000 solid;
  border-right         : 0px #000000 solid;
}

/*Planetenhintergrund*/
th.s
{
  padding	      : 0px;
  border-bottom        : 0px #786C44 ridge;
  border-top           : 0px #786C44 solid;
  border-left          : 0px #786C44 solid;
  border-right         : 0px #786C44 solid;
  background-color     : transparent;
  background-image     : none;
  background-repeat    : no-repeat;
}

table.s tr
{
  text-align           : center;
}

table.s th
{
  background-image     : url(img/bgplan_s.gif);
  letter-spacing       : 0px;
  height               : 134px;
  width                : 125px;
  padding-right        : 0px;
  padding-left         : 0px;
  padding-top	      : 2px;
  padding-bottom	      : 2px;
  line-height          : 16px;
  background-color     : transparent;
  color                : #786C44;
  text-align           : center;
  border               : 0px #282416 ridge;
}

/*frei bnw. Bauauftrag*/
table.s th center
{
  padding              : 0px;
  color                : #9D533C;
}

/*Rahmen und Größe der kleinen Planetenbilder*/

table.s th img
{
  padding-left         : 3px;
  border-bottom        : 2px #000000 solid;
  border-top           : 2px #000000 solid;
  border-left          : 0px #000000 solid;
  border-right         : 0px #000000 solid;
  width                : 90px;
  height               : 90px;
}

/*Mondbild*/
th a img[width="50"][height="50"]
{
  border-top           : 2px #000000 solid;
}

/*Ausrichtung und Rahmen aller Bilder auf der Übersichtsseite*/
img
{
  border               : 0px #EFEFEF ridge;
}

/*Links*/
/*Allgemein*/
a, a.s, a.t,
td.l a, td.l a.s, td.l a.t,
td.k a, td.k a.s, td.k a.t
{
  letter-spacing       : 1px;
  color                : #786C44;
  text-decoration      : none;
  font-weight          : normal;
}

th a, th a.s, th a.t
{
  letter-spacing       : 0px;
}

a:hover, th a:hover, td.l a:hover, td.k a:hover
{
  text-decoration      : none;
  color                : #925300;
}

/*########################################################################*/
/*-----------------------------------Menü---------------------------------*/
/*########################################################################*/

/*Menükörper*/
#menu
{
  background-image     : url(img/bgmenue.gif);
  width                : 190px;
  height               :	570px;
  position             : fixed !important;
}

/*Universum*/
#menu p
{
  background-image     : url(img/bguni.gif);
  background-repeat    : no-repeat;
  color                : #9D533C;
  display              : block;
  height               : 25px;
  width                : 160px !important;
  left                 : 0px;
  top                  : 1px;
  position             : absolute;
  vertical-align       : middle;
  text-align           : left;
  padding-top          : 6px;
  padding-left         : 25px;
  font-size            : 10px;
  font-family          : Tahoma;
  font-weight          : normal;
}

#menu p a, #menu p a:link, #menu p a:visited
{
  font-size            : 10px;
  font-weight          : normal;
  color                : #9D533C;
}

#menu p a:hover
{
  text-decoration      : none;
  font-size            : 10px;
  font-weight          : normal;
  color                : #925300;
}


/*Tabelle des menüs*/
#menu table
{
  left                 : 36px;
  top                  : 148px;
  position             : absolute;
  background-color     : transparent;
  border               : 0px #000000 solid;
  text-align           : center;
}


/*Bilder des Menüs*/
#menu table tr td img
{
  border               : 0px #000000 dashed;
  width                : 90px;
  height               :	3px;
}

#menu td, #menu td div, #menu td font, #menu td center,  #menu td center font
{
  letter-spacing       : 0px;
  vertical-align       : top;
  background-color     : transparent;
  background-image     : none;
  color                : #786C44;
  border               : 0px #3F3F3F solid;
  font-size            : 10px;
  font-family          : Tahoma;
  font-weight          : normal;
  background-repeat    : no-repeat;
  background-position  : center;
  text-align           : left;
}

#menu td div
{
  height               : 13px;
}

#menu td
{
  padding-left         : 5px;
}

#menu td.c
{
  font-weight          : normal;
  border               : 1px #786C44 solid;
  color                : #786C44;
  padding-left         : 3px;
  background-color     : #000000;
  background-image     : none;
  text-align           : center;
}

/*Menülinks*/
#menu div a ,
#menu div a:visited,
#menu div a:link,
#menu td center a,
#menu a#darkmatter2
{
  letter-spacing       : 0px;
  padding-left         : 15px;
  display              : block;
  height               : 13px;
  width                : 100px;
  background-repeat    : no-repeat;
  background-image     : url(img/link1.gif);
  color                : #786C44;
  font-size            : 10px;
  font-family          : Tahoma;
  font-weight          : normal;
}

#menu div a:hover, #menu a#darkmatter2:hover, #menu td center a:hover
{
  text-decoration      : none;
  letter-spacing       : 0px;
  padding-left         : 15px;
  display              : block;
  height               : 13px;
  width                : 100px;
  background-repeat    : no-repeat;
  background-image     : url(img/link2.gif);
  color                : #925300;
  font-size            : 10px;
  font-family          : Tahoma;
  font-weight          : normal;
}

#menu a#darkmatter2 b{font-weight: normal; font-size: 0px;}
#menu a#darkmatter2 b:after{font-size: 10px; content: "Offiziere"; }


#menu td center a[href*="www.darkpirate.de"] font{font-size: 0px;}
#menu td center a[href*="www.darkpirate.de"]:after{font-size: 10px; content: "Darkpirate"; }

/*Werbebilder im Menü*/
#menu table tr td center a img
{
  margin-top           : 2px;
  border               : 0px solid #000000 !important;
  height               : 15px;
  width                : 44px;
}

#menu iframe
{
  margin-top           : 0px !important;
  border               : 0px solid #000000 !important;
  height               : 16px !important;
  width                : 80px !important;
}

#menu td.c iframe
{
  height               : 250px !important;
  width                : 300px !important;
}

/*ifram weg
iframe
{
  width                : 0px;
  height               : 0px;
}*/

/*Überschriften Barbeitung*/
h1, h1 font[color="#00FF00"]
{
  color                : #786C44;
  font-size            : 11px;
  font-family          : Tahoma;
}

/*Flottenfarben*/
/*'''''''''''''''''''''Abbau'''''''''''''''''''''*/
/* Recyclen Hinflug*/
tr.flight span.ownharvest
{
  color                : #00BF00;
}
tr.flight span.ownharvest a
{
  color                : #786C44;
}
tr.flight span.ownharvest a:hover
{
  color                : #925300;
}

/* Recyclen Rückflug*/
tr.return span.ownharvest
{
  color                : #007F00;
}
tr.return span.ownharvest a
{
  color                : #007F00;
}
tr.return span.ownharvest a:hover
{
  color                : #925300;
}

/*'''''''''''''''''''''Transport'''''''''''''''''''''*/
/* Transport Hinflug*/
tr.flight span.owntransport
{
  color                : #00BF00;
}
tr.flight span.owntransport a
{
  color                : #786C44;
}
tr.flight span.owntransport a:hover
{
  color                : #925300;
}

/*Transport Rückflug*/
tr.return span.owntransport
{
  color                : #007F00;
}
tr.return span.owntransport a
{
  color                : #007F00;
}
tr.return span.owntransport a:hover
{
  color                : #925300;
}

/*'''''''''''''''''''''stationieren'''''''''''''''''''''*/
/*stationieren Hinflug*/
tr.flight span.owndeploy
{
  color                : #9F9F9F;
}
tr.flight span.owndeploy a
{
  color                : #786C44;
}
tr.flight span.owndeploy a:hover
{
  color                : #925300;
}

/*stationieren Rückflug*/
tr.return span.owndeploy
{
  color                : #786C44;
}
tr.return span.owndeploy a
{
  color                : #786C44;
}
tr.return span.owndeploy a:hover
{
  color                : #925300;
}

/*'''''''''''''''''''''Spionage'''''''''''''''''''''*/
/*Spionage Hinflug*/
tr.flight span.ownespionage
{
  color                : #FF8500;
}
tr.flight span.ownespionage a
{
  color                : #786C44;
}
tr.flight span.ownespionage a:hover
{
  color                : #925300;
}

/*Spionage Rückflug*/
tr.return span.ownespionage
{
  color                : #FFA500;
}
tr.return span.ownespionage a
{
  color                : #FFA500;
}
tr.return span.ownespionage a:hover
{
  color                : #925300;
}

/*'''''''''''''''''''''kolonisieren'''''''''''''''''''''*/
/*kolonisieren Hinflug*/
tr.flight span.owncolony
{
  color                : #00BF00;
}
tr.flight span.owncolony a
{
  color                : #786C44;
}
tr.flight span.owncolony a:hover
{
  color                : #925300;
}

/*kolonisieren Rückflug*/
tr.return span.owncolony
{
  color                : #007F00;
}
tr.return span.owncolony a
{
  color                : #007F00;
}
tr.return span.owncolony a:hover
{
  color                : #925300;
}

/*'''''''''''''''''''''Angriff'''''''''''''''''''*/
/*Angriff Hinflug*/
tr.flight span.ownattack
{
  color                : #0060FF;
}
tr.flight span.ownattack a
{
  color                : #786C44;
}
tr.flight span.ownattack a:hover
{
  color                : #925300;
}

/*Angriff Rückflug*/
tr.return span.ownattack
{
  color                : #0040FF;
}
tr.return span.ownattack a
{
  color                : #0040FF;
}
tr.return span.ownattack a:hover
{
  color                : #925300;
}


/*'''''''''''''''''''''Verbandsangriff'''''''''''''''''''''*/
/*Verbandsangriff Hinflug*/
tr.flight span.ownfederation
{
  color                : #00C070;
}
tr.flight span.ownfederation a
{
  color                : #786C44;
}
tr.flight span.ownfederation a:hover
{
  color                : #925300;
}

/*Verbandsangriff Rückflug*/
tr.return span.ownfederation
{
  color                : #00A050;
}
tr.return span.ownfederation a
{
  color                : #00A050;
}
tr.return span.ownfederation a:hover
{
  color                : #925300;
}

/*'''''''''''''''''''''Mondangriff'''''''''''''''''''''*/
/*Mondangriff Hinflug*/
tr.flight span.owndestroy
{
  color                : #0000BF;
}
tr.flight span.owndestroy a
{
  color                : #786C44;
}
tr.flight span.owndestroy a:hover
{
  color                : #925300;
}

/*Mondangriff Rückflug*/
tr.return span.owndestroy
{
  color                : #00009F;
}
tr.return span.owndestroy a
{
  color                : #00009F;
}
tr.return span.oowndestroy a:hover
{
  color                : #925300;
}

/*'''''''''''''''''''''Halten'''''''''''''''''''''*/
/*Halten Hinflug*/
tr.flight span.ownhold
{
  color                : #FCFCFE;
}
tr.flight span.ownhold a
{
  color                : #786C44;
}
tr.flight span.ownhold a:hover
{
  color                : #925300;
}

/*Halten Halten*/
tr.holding  span.ownhold
{
  color                : #5F5F5F;
}
tr.holding  span.ownhold a
{
  color                : #5F5F5F;
}
tr.holding  span.ownhold a:hover
{
  color                : #925300;
}

/*Halten Rückflug*/
tr.return span.ownhold
{
  color                : #DFDFDF;
}
tr.return span.ownhold a
{
  color                : #DFDFDF;
}
tr.return span.ownhold a:hover
{
  color                : #925300;
}

/*'''''''''''''''''''''Freundliche Aktionen'''''''''''''''''''''*/
/*Freundlicher Transport*/
tr.flight span.transport
{
  color                : #00BF00;
}
tr.flight span.transport a
{
  color                : #786C44;
}
tr.flight span.transport a:hover
{
  color                : #925300;
}

/*Freundliches Halten Anflug*/
tr.flight span.hold
{
  color                : #00BF00;
}
tr.flight span.hold a
{
  color                : #786C44;
}
tr.flight span.hold a:hover
{
  color                : #925300;
}

/*Freundliches Halten Halten*/
tr.holding span.hold
{
  color                : #00BF00;
}
tr.holding span.hold a
{
  color                : #786C44;
}
tr.holding span.hold a:hover
{
  color                : #925300;
}

/*########################################################################*/
                            /*Feindliches*/
/*########################################################################*/

/*'''''''''''''''''''''Mondzerstörung'''''''''''''''''''''*/
/*Mondzerstörung*/
tr.flight span.destroy
{
  color                : #FF3F00;
}
tr.flight span.destroy a
{
  color                : #786C44;
}
tr.flight span.destroy a:hover
{
  color                : #925300;
}

/*Angriff*/
tr.flight span.attack
{
  color                : #DF0000;
}
tr.flight span.attack  a
{
  color                : #786C44;
}
tr.flight span.attack  a:hover
{
  color                : #925300;
}

/*Spionage*/
tr.flight span.espionage
{
  color                : #BF0000;
}
tr.flight span.espionage a
{
  color                : #786C44;
}
tr.flight span.espionage a:hover
{
  color                : #925300;
}

/*Spionage*/
tr.flight span.federation
{
  color                : #DF0000;
}
tr.flight span.federation a
{
  color                : #786C44;
}
tr.flight span.federation a:hover
{
  color                : #925300;
}

/*########################################################################*/
                            /*Raketenzeug*/
/*########################################################################*/

/*feindlich*/
tr.flight span.missile
{
  color                : #FF0000;
}
tr.flight span.missile a
{
  color                : #786C44;
}
tr.flight span.missile a:hover
{
  color                : #925300;
}

/*eigene*/
tr.flight span.ownmissile
{
  color                : #0080FF;
}
tr.flight span.ownmissile a
{
  color                : #786C44;
}
tr.flight span.ownmissile a:hover
{
  color                : #925300;
}