/** Edit Color here **/
 * 
#.ui-widget-header{
	background-color:#D20000;
}
.res_name{
	color:#D20000;
}

body {
	background:url("img/bkd_page.jpg") no-repeat fixed center center #0d0d0d;
}

body,input,select,button,textarea,a,td,th,tr,table,a:visited{
	color:#DDD;
}

body.mceContentBody,input,button,select,option,textarea, .ui-widget-content{
	background: #0D1014;
}

input[type="radio"] {
	background:transparent;
	border:0 none;
}


#menu li:first-child, #menu li:last-child{
	background-color:transparent;
}

a:hover {
	color:red;
	text-decoration:none
}

table,td,th {
	font-weight:400
}

table table,img {
	border:0
}

input, select, textarea, #userpic, input, button{
	border:1px solid #1C1F23;
}

td, th input, .tip {
	border:1px solid #000;
}

td, .tip {
	text-align:center;
	background: #0D1014;
	background: rgba(13, 16, 20, 0.95);
}

input,button {
	text-align:center
}

th, .ui-widget-header {
	background-image:url("img/bkd_title.png");
	color:#FFF;
	font-weight:700;
	text-align:left
}

th a:hover, .ui-widget-header a:hover, #menu a:hover  {
	color:#FFF;
}

th a:hover, .ui-widget-header a:hover {
	text-decoration:underline;
}

textarea {
	background:transparent;
}

select {
	border:1px solid #212121
}

/*Global Messgae */

.admin {
	color:red;
}
.mod {
	color:yellow;
}
.ops {
	color:skyblue;
}

.messages_body .admin {
	font-weight:700;
	color:red;
}
.messages_body .mod {
	font-weight:700;
	color:yellow;
}
.messages_body .ops {
	font-weight:700;
	color:skyblue;
}

.res_max {
	color:#0F0
}

.res_name {
	color:red;
	font-weight:700
}

.galaxy-alliance-member {
	color:#99FF66;
}

.galaxy-alliance-friend {
	color:#99FFFF;
}

.galaxy-alliance-enemy {
	color:#FF0000;
}

.galaxy-short-noob,
.galaxy-username-noob{
	color:#a0ffa0
}

.galaxy-short-strong,
.galaxy-username-strong {
	color:#ffa0a0
}

.galaxy-short-vacation,
.galaxy-username-vacation {
	color:#659ec7
}

.galaxy-short-inactive,
.galaxy-username-inactive {
	color:#ccc
}

.galaxy-short-longinactive,
.galaxy-username-longinactive {
	color:#999
}

.galaxy-short-banned {
	text-decoration:line-through
}

.ownattack {
	color:#6c3
}

.owncolony {
	color:#c1c1c1
}

.owndeploy {
	color:#666
}

.owndestroy {
	color:#ff9
}

.ownfederation {
	color:#c66
}

.ownharvest {
	color:#ceff68
}

.ownhold {
	color:#80a0c0
}

.destroy {
	color:#d4a017
}

.hold {
	color:#39c
}

.warning {
	color:#FF8040
}

.notice {
	color:#FF0
}

.return {
	color:#444
}

.allymember,.colony,.deploy,.harvest,.transport,.success {
	color:lime
}

.owntransport {
	color:#a0ffa0
}

.ownespionage,.ownmissile {
	color:#fc6
}

.espionage,.missile {
	color:#f60
}

.build_submit {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: lime;
}
.onlist{
    color: #DDD;
}

/** HEADER **/

#header {
	background: #0D1014;
	background: rgba(13, 16, 20, 0.95);
	border: 1px solid black;
}

#resourcesdiv{
	text-align:center;
}

/** MENU **/

#menu a {
	background: #0D1014;
	background: rgba(13, 16, 20, 0.95);
	border-top:1px solid black;
}

#menu a:hover {
	background: #212428;
}

.menu-head a{
	height:78px;
	background:none !important;
	padding:0 !important;
	text-indent: -1000em;
}

.menu-head {
	background: url('./img/menu-top.png') no-repeat scroll 0 -22px transparent;
}

.menucat1-head {
	background-image: url('./img/menu_wirt.png');
}

.menucat2-head {
	background-image: url('./img/menu_com.png');
}

.menucat3-head {
	background-image: url('./img/menu_acc.png');
}

.menu-footer{
	background-image: url('./img/menu-foot.png');
}

/* PLANETMENU */

#planet_menu_link{
	font-weight:700;
}

#planet_menu_header{
	text-align:right;
}

#planet_menu_content li {
	text-align:center;
}


/* CONTENT */

.tip th{
	text-align:center
}

.top {
	vertical-align:top
}

.transparent,#header td, .tip td, .tip th, .raportMessage td {
	background: transparent;
	border:none;
	filter: none !important;
}

.mes_unread td {
	font-weight:700;
}

a {
	text-decoration:none
}

th a,.res_current{
	color:#FFF
}

.res_current_max,.attack,.federation,.error {
	color:red
}

#fleetstatustable td{
	background: transparent;
	background-image: none;
	border: 0 none
}

.raportWin {
	color:lime;
}

.raportLose {
	color:red;
}

.ui-progressbar-value {
	background-image: url(img/processbar.gif);
	background-position:top left;
	border-color:#000;
}

.spyRaportContainerHead {
	background: #212428;
	color: white;
	font-weight: 700;
	text-align: left;
	margin: 3px 0;
	padding: 3px;
}

.spyRaportContainerRow {
	border-top:1px solid #DDD;
}
.spyRaportContainerHead + .spyRaportContainerRow {
	border-top:0 none;
}

.ui-autocomplete, .ui-state-hover, .ui-state-default, .ui-tabs-nav, .ui-tabs, .ui-progressbar, .ui-progressbar-value {
	-webkit-border-radius:0;
	-khtml-border-radius:0;
	border-radius:0;
}

.ui-state-default{
	border:1px solid #000 !important;
	background: #0D1014 !important;
}
.ui-state-default > a{
	cursor:pointer !important;
}

.ui-state-hover, .ui-progressbar{
	border:1px solid #000 !important;
	background: #212428 !important;
}

.ui-tabs-nav {
	padding: 0;
}

.ui-tabs {
	border:1px solid #000;
	background:transaprent;
}